[2015-12-16 19:13] skylerberg opened #3 "Command line editor for ion"
Shells like bash and zsh have line editors that make them far more usable. For example here are some features provided by GNU Readline used in bash:

* Tab completion
* Up arrow for previous command
* Reverse search (ctrl-r)

Readline is kind of the standard for line readers, but it is under a GPL license. It would be nice to have our own line editor written in Rust that can be used by our shell.

[2015-12-16 19:15] stratact commented on #3
We're planning to look at the Fish shell for inspiration on how to implement those features.

cc @mgattozzi @hauleth @Ticki

[2015-12-16 19:18] skylerberg commented on #3
One of the barriers to implementing this is the need to run the terminal in raw mode. Right now the shell works in cooked mode and does not support reading input character by character. I have not taken a closer look at how the terminal works in redox, but there might be some work there to make it possible to switch to raw mode.

[2015-12-16 19:39] skylerberg opened #4 "Escaping characters"
Like other shells we will need to allow the user to escape characters and strings. I would like to discuss the details here. Escaping is surprisingly involved in posix shells with four escaping mechanisms:
- Backslash: Escape the following character.
- Single quotes: Preserve literal value of all strings between quotes.
- Double quotes: Escape most characters between quotes with several exceptions

[2015-12-16 19:42] mgattozzi commented on #3
The main problem is being able to use keyboard interrupts. As it stands the Rust Standard Library lacks nonblocking io and as you mention per char input like getch from C for instance. Libraries like [copperline](https://github.com/srijs/rust-copperline) use low level c bindings to get around this and implement the behaviour of readline. On the shell I had been writing before I implemented some of

[2015-12-16 19:55] Ticki commented on #4
Currently the parser is just a lot of hacks stiched together. We should create a correct LL(k) parser.

[2015-12-16 19:55] Ticki commented on #4
I'll work on it when I'm done debugging the new buffer data structure for Sodium.

[2015-12-16 20:13] hexsel commented on #3
@stratact I never thought I'd get away from good ol' Bash, but Fish Shell just did that, and it's 90% because of their command line interface.  Can't go wrong there :)

[2015-12-16 20:20] Ticki commented on #3
I prefer zsh over fish

_now kill me_

[2015-12-16 20:36] stratact commented on #3
@hexsel it does seem to have more innovation than any other shell, which is what we desire most in Redox.

[2015-12-16 22:06] skylerberg commented on #4
I am working on a tokenizer right now. I am handling quoting in the tokenizer. An LL(k) parser would be great, but I think we should handle escaping at the tokenization phase for now.

[2015-12-16 22:09] skylerberg commented on #3
I am not a big fan of fish because I think it sacrifices too much in the name of simplicity. That said, if we start of going in the direction of fish, there is still plenty of work for us to do and I am totally okay with it.

[2015-12-16 22:11] mgattozzi commented on #3
@Ticki Hey I'm with you on that one. Still we can get the best of
Fish/ZSH/Bash etc etc

On Wed, Dec 16, 2015 at 3:57 PM, stratact <notifications@github.com> wrote:

[2015-12-17 00:13] skylerberg commented on #4
To start with I have just made double quotes and single quotes do the same thing and they both act like bash single quotes: https://github.com/redox-os/ion/pull/5.

[2015-12-17 00:35] stratact commented on #3
Right, we can pick the best parts from each shell. Doesn't have to be all Fish.

[2015-12-17 08:45] skylerberg opened #7 "Let Command"
Instead of having a special case for the user typing `$` and displaying the environment variables, we should use a dedicated command `set` command like fish does. Adding this command will get rid of two special cases: `$` and `KEY=VALUE` which make the current implementation clunkier and less discoverable (there is no help for these actions).

I am posting this here as a note to remind myself to d

[2015-12-17 08:47] skylerberg commented on #4
I have started on a parser and it is on master in my fork right now. I will make a pull request tomorrow after rebasing once my current pull request has gone through.

[2015-12-17 10:09] hauleth commented on #7
I would prefer `let` instead of `set`, but maybe it my personal preference. It could be even: `let VARNAME = VALUE`.

[2015-12-17 12:55] Ticki commented on #4
@skylerberg Which method do you use to parse?

[2015-12-17 13:41] mgattozzi commented on #7
I'm more of a let kind of guy, mostly since my job involves Haskell. Rust also uses let, but in the case of the average user set would be all right

[2015-12-17 16:19] Ticki commented on #7
I'm for let too.

[2015-12-17 17:04] skylerberg commented on #7
`let` it will be then.

[2015-12-17 17:05] skylerberg commented on #4
Right now it is just a for loop over the tokens.

[2015-12-22 19:24] skylerberg opened #9 "Use nom for parsing"
https://github.com/Geal/nom

[2015-12-22 19:35] Ticki commented on #9
Isn't nom overkill in this case? I mean, we could probably yield a better performance by using a custom parser.

[2015-12-22 23:01] hauleth commented on #9
I think not. Do not write code that someone has written for you, in that case you can't screw it.

[2015-12-22 23:34] polymetric1 commented on #9
I agree. Nom is fine for this situation. It's just a parser, think of it like yacc or bison in the C world. Those are used for things all the way from search query parsers to language compilers.

[2015-12-23 13:53] mgattozzi commented on #9
It's much easier to use someone elses code that's written for a specific purpose. Why reinvent the wheel?

[2015-12-23 14:25] Ticki commented on #9
Generally, shell parsing is no hard task. Just a LL(k) parser.

[2015-12-23 14:28] Ticki commented on #9
Anyways, `nom` is pretty fast and convenient.

[2015-12-23 15:18] hauleth commented on #9
Tell that bash developers after ShellShock.

[2015-12-23 15:19] Ticki commented on #9
GNU Bash parser was horrible written. And it wasn't even by hand1

[2015-12-30 11:44] hauleth opened #11 "Remove unneeded commands"
There is bunch of entries in commands that should not exist:

- `cat`
- `free`
- `ls`
- `mkdir`
- `poweroff`
- `ps`
- `rm`
- `rmdir`
- `run`
- `sleep`

All of them should be external commands. @jackpot51 could you create repo `redox-os/coreutils` where all of that should land?

[2015-12-30 12:00] Ticki opened #12 "`cat` is wrong"
`cat` is not "print this file", it's "concatenate these strings". The former usage of cat is wrong. For "print this file" in POSIXs, one use "< file".

[2015-12-30 12:27] faizaanceg commented on #11
Agreed. BTW is `poweroff` better off being termed as `shutdown` ?

P.S. New here. Interesting project. Hope to start contributing soon.

[2015-12-30 12:31] Ticki commented on #11
Yeah. Poweroff is misleading.

[2015-12-30 14:01] hauleth commented on #12
It is concatenate these files, not strings. Still this should be external tool, not builtin.

[2015-12-30 14:05] Ticki commented on #12
@hauleth The actual implementation in GNU coretools is: if the input is `-` read from stdin until EOF, else check if a file of the name exist, if not print an error to stderr. The problem, however, is that cat does not lock the files it's reading.

[2015-12-30 14:09] hauleth commented on #12
This is Unix tool and IIRC this is standard definition. I have written simple Unixy `cat` command (25 LOC) already and if @jackpot51 give me repo for that I will push it there.

[2015-12-30 14:12] Ticki commented on #12
Right, it's described in SUS. All I'm saying is that the currently implementation is incorrect (it's UUOC, essentially).

[2015-12-30 14:13] Ticki commented on #12
redox-os/coreutils

[2015-12-30 14:14] jackpot51 commented on #12
The repo is created, @hauleth is admin

[2015-12-30 14:14] Ticki commented on #12
k.

[2015-12-30 14:18] Ticki opened #13 "Reorganize how commands are executed"
The system is currently very monolithic. Commands shouldn't be hard coded in the shell.

[2015-12-30 19:59] skylerberg commented on #12
We need to change ion to check on a path and execute commands if the supplied command is not a builtin. For ion this basically means making `exec` the default. When I say `exec`, I am specifically referring to our `exec`, not what `exec` is actually supposed to do.

[2015-12-30 20:01] skylerberg commented on #11
It may be worth looking at an existing effort to make a Rust-based rewrite of coreutils: https://github.com/uutils/coreutils.

[2015-12-30 20:03] skylerberg commented on #13
Agreed, however, some commands are supposed to be built into the shell, e.g., `cd`. When running  commands we should check to see if they are builtins. if so, use an appropriate function for the builtin. If not, search a path for an executable of the same name as the command.

[2015-12-30 20:12] Ticki commented on #13
Yeah, alias, cd, export and so on.

[2015-12-30 20:24] hauleth commented on #11
Yeah, but they are trying to replicate GNU coreutils, I want Redox coreutils to be based on BSD one. They are simpler and less bloated.

--
Łukasz Jan Niemier

Dnia 30 gru 2015 o godz. 21:01 Skyler Berg <notifications@github.com> napisał(a):

[2015-12-30 20:34] Ticki commented on #11
I ported a big part of coreutils to Redox a while ago. Should be in the git history (before `ports` were deleted).

[2015-12-31 10:46] hauleth commented on #13
And very important one: `command` that will skip any builtins that conflicts with executables in `$PATH` (i.e. bash `time`).

[2016-01-09 22:25] Ticki opened #15 "Popd and Pushd (directory stack)"

[2016-01-09 23:54] skylerberg commented on #15
Yep, these are builtins we should definitely add.

[2016-01-09 23:57] skylerberg opened #16 "Executing commands on PATH by default."
Instead of having `exec` spawn a subprocess we should use that logic when the user enters a non-builtin command. For the sake of usability on redox we need to make sure that it uses PATH properly to find commands on the system.

Once we do this, we will be able to a remove all the commands we have that should not be builtins. We will also be able to to add more commands into redox by putting them

[2016-01-11 02:17] skylerberg commented on #15
We could make `cd`  basically do what `pushd` does. What if navigation always created a directory stack? The only downside I could think of is that the directory stack could grow to large if a script used `cd` excessively.

[2016-01-11 06:55] Ticki commented on #15
@skylerberg It actually already does. Cd push to the dir stack.j

[2016-01-14 05:56] skylerberg commented on #16
I just merged a change that makes the shell run external commands by default. Now we just need to go into redox and make sure that environment variables work, that coreutils is on PATH, and that all the commands we need are in coreutils. Once that is complete we can remove all the unneeded commands from Ion, which will be a great relief to me.

[2016-01-14 14:54] Ticki commented on #16
Cool.

[2016-01-14 17:03] polymetric1 commented on #16
Nice. I'll get the builtins working with coreutils.

[2016-01-15 04:57] skylerberg opened #21 "Discussion: Variable scoping (do we really need export)"
I have what may be a radical, and possibly bad idea: export everything.

I think having two different classes of variables is an unnecessary complication that adds unneeded state to the shell. What if we just used the environment for everything?

Pros:
 - Simplicity in the shell application
 - Less state moving around the application
 - Easier to learn

Cons:
 - Performance: Needs to interact with

[2016-01-15 05:49] skylerberg commented on #15
@Ticki I just played around with `pushd` and `popd` in bash, zsh, and fish. In zsh, cd does push to the dir stack. In the other two it does not. I like the idea that cd acts like `pushd`; I think zsh got this right.

However, there is a quirk to zsh's implementation that I think is *really* bad. Zsh appears to disallow duplicate items in the directory stack and will go so far as to reorder the sta

[2016-01-15 12:08] Ticki commented on #21
Scoping is great for a lot of things. It will help preventing a number of bugs (such as memory leaks), and security issues. :+1:

[2016-01-15 18:29] ticki opened #22 "Allow numeric calculations through command line input."
A thing I wished other shells had:

[code]

[2016-01-15 18:43] hauleth commented on #22
I would rather use NPN instead.

[2016-01-15 18:45] jackpot51 commented on #22
This should really be a command, like expr:

`expr 2 + 3`

[2016-01-15 18:45] jackpot51 commented on #22
If you want NPN you can also have a command for that

[2016-01-15 18:45] Ticki commented on #22
@hauleth No, please not. NPN is the most horrible piece of notation ever created.

[2016-01-15 18:47] Ticki commented on #22
@jackpot51 Why a command? Why not just these operators build in to Ion?

[2016-01-15 18:47] jackpot51 commented on #22
I don't like NPN but I see no problem with having a command that handles it

`npn + 2 3`

[2016-01-15 18:47] Ticki commented on #22
Me neither. But I really dislike the idea of it being default.

[2016-01-15 18:48] jackpot51 commented on #22
Then variable assignments would still work for ion, replacing $() with whatever our inline command syntax is

`variable=$(npn + 2 3)` or `variable=$(expr 2 + 3)`. Since they are external commands, you get to choose what is installed by default

[2016-01-15 18:49] Ticki commented on #22
If it was built in, one could do:

[code]

[2016-01-15 18:50] Ticki commented on #22
Personally, I dislike the idea of shell scripting being so foreign. I would much rather have it feel like a modern dynamic language.

[2016-01-15 19:08] jackpot51 commented on #22
I would like PR's to be done showing the proposed syntax in https://github.com/redox-os/ion/blob/master/SYNTAX.md

To start, I described the current ion syntax

This way we could keep track of proposed changes

[2016-01-15 19:09] Ticki commented on #22
I'll make a grammar proposal.

[2016-01-16 17:25] skylerberg commented on #22
I like this idea a lot. Right now my workflow for doing this is to open a shell and open a python shell inside that shell then do some calculations.

However, we have to consider the implications of this change: strings matching something like `[0-9+-/*]+` would no longer be valid command names.

[2016-01-16 17:27] Ticki commented on #22
I use python for calculations too, but I'd really see this to be integrated into a sane shell scripting language.

[2016-01-16 17:28] Ticki commented on #22
Also, on the string matching, you can just restrict these characters to literals.

[2016-01-16 21:16] skylerberg opened #24 "`exit` builtin should actually exit the process."
Right now this is handled with special logic and the command only exists so that it will show up in help. This should be fixed.

[2016-01-18 02:42] skylerberg commented on #15
https://github.com/redox-os/ion/pull/27 add directory stack. Currently `cd` does nothing with the directory stack (like in fish, bash, sh, and csh). This can easily be changed any time.

[2016-01-18 02:45] #15 closed

[2016-01-18 02:56] skylerberg commented on #11
Done https://github.com/redox-os/ion/pull/28.

[2016-01-18 02:56] #11 closed

[2016-01-18 02:57] skylerberg commented on #12
`cat` is no longer a part of ion https://github.com/redox-os/ion/pull/28.

[2016-01-18 02:57] #12 closed

[2016-01-18 03:50] skylerberg opened #29 "Ion needs job control"
We need to allow interactive job control. We will need the following commands:
- [x] bg
- [ ] fg (Partially Implemented)
- [x] jobs
- [x] suspend
- [x] disown
- [x] wait
- [x] process groups

[2016-01-18 03:55] skylerberg opened #30 "Run command contains hardcoded path to ion's location in redox"
This should not be the case.

[2016-01-19 04:04] skylerberg commented on #9
I just looked at `nom` again. It looks like they are adding features to parse in a string-oriented rather than byte oriented way. This seems like a critical feature for us. That said, it doesn't appear done. Most of the macros do not have a string oriented version. For now I am going to add features to my parser instead of changing to `nom`. That said, my parser was quickly thrown together and sho

[2016-01-19 06:09] Ticki commented on #9
What's wrong with being byte oriented?

[2016-01-20 00:12] skylerberg commented on #9
Ion, as a language should be based on utf-8 encoding, right? If this is the case, going byte by byte seems like it would complicate the parsing logic. After parsing we would want to switch everything to `&str` and then everything would be `Option`s. Of course, I guess we could just convert to `&str` and abort with a parse error if it doesn't work. If you don't think it will be a big problem being

[2016-01-22 14:38] Ticki opened #34 "Unify stdin and arguments"
xargs have always been a huge pain. I suggest that we unify stdin and arguments. Any ideas?

[2016-01-22 15:10] polymetric1 commented on #34
How would this work? Maybe piping could just add an argument linking to a temp file?

[2016-01-22 15:13] Ticki commented on #34
The arguments could be sent as stdin ending on a SOH (^A) followed by the "real" stdin.

[2016-01-22 15:22] Ticki commented on #34
So the stdin for `echo yay | rm -rf --no-preserve-root / ~/*;` would look somewhat like this to the program:

[code]

[2016-01-22 15:31] Ticki commented on #34
Another possibility would be multiple pipelines, which would really reduce the limits of the command line.

[2016-01-22 15:51] polymetric1 commented on #34
Multiple piplines might be hard to manage, depending on how it's implemented. It might hurt application compatibilty, too

[2016-01-22 15:58] Ticki commented on #34
@polymetric1 Well, you can just have a main pipeline, which *nix programs use solely.

[2016-01-22 16:02] polymetric1 commented on #34
But what about redox -> unix? I guess they could just check which OS and change their parser based on that

[2016-01-22 16:03] Ticki commented on #34
Well, restricting us to one to one compatibility (unix -> redox AND redox -> unix), will restrict us a lot, so I would rather avoid that.

[2016-01-22 16:44] jackpot51 commented on #34
This is a bad idea. I should not have to explain why this is a bad idea, it should be obvious.

The distinction between stdio and arguments is a critical, strongly typed distinction that comes from the following fact:

stdin is a file. This file is setup by the terminal or terminal emulator (/dev/tty for example) and tells the application which bytes it should process as streaming input. These byt

[2016-01-22 16:52] polymetric1 commented on #34
Good call @jackpot51. I think it's good that this was at least discussed, but it doesn't really make sense.

[2016-01-22 16:56] Ticki commented on #34
Well, personally I don't like the first idea, I gave, because ... yeah, it's fucked. A bad idea. But I believe, that utilizing secondary pipelines for arguments, is a good idea, since it solves the very problem in a general manner.

[2016-01-22 20:52] skylerberg commented on #34
@Ticki Can you give an example of what this might look like at the command line that shows it solving a problem you have with xargs?

[2016-01-23 02:29] skylerberg commented on #9
I chatted a little on `nom`'s gitter and I guess I was wrong about the string thing. That said, I just spent the past couple of hours trying to get it to work and I encountered more baffling errors than anything I have seen before.

This is not the first time that I have tried to use `nom`, I have really wanted us to have a parser built on a better foundation. I have tried several times and each t

[2016-01-24 08:46] skylerberg commented on #9
Since I have switched to a parser generator called `rust-peg`, I don't think this is relevant anymore.

[2016-01-24 08:46] #9 closed

[2016-01-24 08:47] skylerberg commented on #13
We have moved all of the commands that shouldn't be in the shell out. Yay!

[2016-01-24 08:47] #13 closed

[2016-01-24 11:29] Ticki commented on #9
Good work, @skylerberg!

[2016-01-25 00:17] skylerberg opened #40 "Glob Expansion"
Ion should support glob expansion.

[2016-01-25 00:20] skylerberg opened #41 "Track history and add history command"
https://www.gnu.org/software/bash/manual/html_node/Bash-History-Builtins.html

[2016-01-25 00:21] skylerberg opened #42 "Make/Use an argument parser for builtin commands"
We don't want each and every builtin command to have it's own argument parsing logic. Let's make a standard way for them to declare what they need and a standard way to parse them from a list of arguments.

[2016-01-27 14:12] polymetric1 commented on #41
Closed by #44

[2016-01-27 14:13] #41 closed

[2016-01-29 01:24] skylerberg opened #46 "Use ion variables to configure shell behavior"
For example, the maximum history stored in the shell should be set to a reasonable default and changed by changing the value of some variable.

Discussion: Should special variables that change shell behavior differ from normal variables in ion? With the history example, whenever someone pushes to history it would check to see if it exceeds the maximum history variable and then pop until this is no

[2016-01-29 01:25] skylerberg opened #47 "Load an init file when starting the shell"
We need something like `.zshrc`, `.bashrc` or `.config/neovim/init.vim`.

[2016-01-29 04:02] polymetric1 commented on #47
I might try to do this.

[2016-01-29 04:09] skylerberg commented on #47
Great! The main thing we need for this this is the logic for a `source` or `.` command. That is to say a command that takes a file and runs it in the context of the current shell. After that we just need logic for finding the file in a default location.

I haven't looked at the code in a while, but it may be worth looking at what happens when you try to run `ion` non-interactively. It opens a file

[2016-01-29 05:25] skylerberg opened #49 "Travis should report coverage statistics to coveralls.io"
Tracking test coverage would add a more visible impact for writing unit tests. We already have a badge on our README for it, but we don't send any reports.

[2016-01-29 05:39] skylerberg commented on #4
In case any stumbles upon this, we are now using rust-peg.

[2016-01-29 05:56] skylerberg commented on #30
We should actually be `exec`ing the files, but I don't think that redox supports reading the interpreter using a shebang.

[2016-01-29 06:59] skylerberg commented on #7
Closed by https://github.com/redox-os/ion/pull/51.

[2016-01-29 06:59] #7 closed

[2016-01-29 10:36] hauleth commented on #47
No `.` command! Make it noop (or equivalent to `cd .`, which is noop). Use only `source`.

[2016-01-30 06:50] skylerberg opened #57 "cd should push to the directory stack"
Once this is implemented, the main difference between `cd` and `pushd` will be that `pushd` prints the directory stack and `cd` does not. Also `cd` should have options like `cd -`, however that is not in the scope of this issue.

[2016-01-30 06:51] skylerberg commented on #24
Fixed by @polymetric1 in https://github.com/redox-os/ion/pull/52.

[2016-01-30 06:51] #24 closed

[2016-01-30 12:45] jackpot51 commented on #57
Will there be a limit on stack size?

[2016-01-30 13:09] Ticki commented on #57
@jackpot51 `zsh` behavior is to truncate the stack.

[2016-01-30 17:25] skylerberg commented on #57
@jackpot51 Yes. It will be the same as the limit on history. I should switch the dir stack to use a VecDeque. It will also be the same as zsh http://zsh.sourceforge.net/Intro/intro_6.html, which just to clarify pops the oldest leaving the DIRSTACKSIZE most recent directories on the stack.

[2016-01-30 18:21] skylerberg commented on #57
https://github.com/redox-os/ion/pull/59 closes this issue and limits the stack size.

[2016-01-30 18:21] #57 closed

[2016-01-30 18:38] Ticki commented on #57
yay

[2016-01-30 19:41] jackpot51 commented on #57
cool

[2016-02-06 17:15] skylerberg commented on #16
@jackpot51 Fixed this in redox, I think.

[2016-02-06 17:15] #16 closed

[2016-02-06 20:34] skylerberg opened #62 "Flow control should not be implemented in on_command"
Statements like `if`, `else`, `end` should not be implemented directly in `on_command`. Right now it is a real mess. This should either be moved to builtin commands or added to the grammar.

For ease of implementation I am leaning toward using builtin commands for this. This will make it a lot easier to deal with the case where we have a partially finished if statement that the user is typing dire

[2016-02-07 03:29] skylerberg commented on #62
https://github.com/redox-os/ion/pull/63 fixes this.

[2016-02-07 03:29] #62 closed

[2016-02-07 04:07] skylerberg opened #64 "Add for loop to ion"
Example

[code]
Output should be:
[code]

[2016-02-07 06:14] skylerberg commented on #64
I got started here: https://github.com/redox-os/ion/pull/65.

There is a lot of work left to do and in the future I might take a totally different approach, so who knows.

[2016-02-07 06:39] skylerberg opened #66 "Create an examples folder and use it as part of the testing process"
It would be helpful to have example ion scripts to both help out users and enhance testing. We could have an `examples/` directory with scripts in it. Each script would end with `.ion` and we could also have `.out` files to show the expected output for each script. Once we have this we could easily add an automatic test to run each of these and compare the actual output with the expected output. T

[2016-02-07 18:00] polymetric1 commented on #66
Good idea. I'll write the scripts. I might try to implement it into cargo test, but I'm not experienced with Rust tests or really Rust in general.

[2016-02-07 18:13] skylerberg commented on #66
FYI, I recently changed ion from using `fi` to using `end`.

Here is one example that I have been using. It is a slightly modified version of a file that was in redox for a while:
[code]

As for the testing, I wasn't thinking it would need any Rust code. It could just be something in `.travis.yml` that runs the scripts and makes sure their output it correct. Better yet, we could include a script t

[2016-02-07 20:49] skylerberg opened #70 "Support user defined functions in ion"
I think we should do functions differently than other shells. I think they should be able to have a set number of arguments like a normal scripting language.

The first step toward this that I want to implement is zero argument functions. These will basically be like aliases. Like Fish, I don't think ion needs aliases when functions can do the job.

[2016-02-07 21:05] skylerberg commented on #30
https://github.com/redox-os/ion/pull/67

[2016-02-07 21:05] #30 closed

[2016-02-07 21:30] skylerberg opened #71 "Builtin commands should return exit statuses."
Right now all the builtin commands don't return anything. We should return an exit status instead.

[2016-02-07 21:35] skylerberg commented on #21
Yeah, we are going to need to scope which variables are exported. I wish it could be simplified, but oh well.

[2016-02-07 21:35] #21 closed

[2016-02-07 21:36] skylerberg commented on #42
clap-rs may be a good library for us to use.

[2016-02-07 23:25] skylerberg opened #72 "Add tilde expansion"
Here is how bash does it https://www.gnu.org/software/bash/manual/html_node/Tilde-Expansion.html.

I would like to discuss what parts of this we should also do. Let me know what you think.

[2016-02-09 03:54] skylerberg commented on #71
https://github.com/redox-os/ion/pull/74

[2016-02-09 03:54] #71 closed

[2016-02-09 13:00] maheshm opened #75 "Dirs has wrong help text"
https://github.com/redox-os/ion/blob/master/src/main.rs#L211

[2016-02-09 16:36] skylerberg commented on #75
My bad. Thanks for catching this.

[2016-02-11 06:56] skylerberg commented on #75
@polymetric1 fixed this with https://github.com/redox-os/ion/pull/76. He also went through and improved the documentation on a bunch of other commands too :)

[2016-02-11 06:56] #75 closed

[2016-02-13 17:20] skylerberg opened #77 "Use Homu to as a commit gate keeper"

[2016-02-13 17:21] skylerberg opened #78 "Make Homu run rustfmt on repo before merge"
Obviously this depends on https://github.com/redox-os/ion/issues/77.

[2016-02-13 17:21] skylerberg opened #79 "Use an auto-changlog tool such as clog"
https://github.com/clog-tool/clog-cli

[2016-02-13 17:22] skylerberg opened #80 "Make Homu automatically update the changlog"
This depends on https://github.com/redox-os/ion/issues/77 and https://github.com/redox-os/ion/issues/79.

[2016-02-13 17:23] skylerberg opened #81 "Make Homu automatically update the crate version based on changes to the changelog"
This depends on https://github.com/redox-os/ion/issues/80.

If Homu could then push the changes to cargo, that would be even better.

[2016-02-13 17:30] skylerberg commented on #79
I hope these tools don't require every commit to follow the format. I would like to adopt as a convention that all the formatted commit messages should go in merge commit messages. That way, whenever someone makes a change I can look over it and figure out what it changes. I don't like the idea that every commit has something that should go into the changelog because that discourages committing of

[2016-02-13 18:43] skylerberg commented on #40
We need to make sure glob characters are not processed specially when quoted.

[2016-02-13 20:02] skylerberg commented on #40
I am going to make having quoted strings not be expanded a separate issue because I can close this and have working globs much easier than I can make them work properly when quoted.

Adding globs will also add a new dependency. I am having trouble building redox with or without this, so I don't know if it is breaking, but I suspect it is. If it is, we should see about adding what we need to redox

[2016-02-13 20:04] skylerberg opened #83 "Make quoted strings not do glob expansion"
This will likely mean a lot of work in `peg.rs`. I see this as large change.

[2016-02-13 20:05] skylerberg opened #84 "Don't expand variables in single quoted strings"
This should be changed after doing https://github.com/redox-os/ion/issues/83.

[2016-02-13 20:06] #40 closed

[2016-02-13 20:16] skylerberg opened #85 "Catch signals"
Ion should not die when it catches a signal such as you get when you hit `^C`. Instead we should handle the signal.

We may have some trouble because as far as I can tell, Rust does not have a great way to deal with signals. https://github.com/rust-lang/rfcs/issues/1368.

[2016-02-13 21:26] skylerberg commented on #29
https://github.com/redox-os/ion/pull/86

[2016-02-13 21:26] skylerberg commented on #29
We can now run a task in the background. There is still much work to be done.

[2016-02-13 21:29] skylerberg opened #87 "Add noop command"
Most shells have a command called `:` that is a noop. We should add this to ion. It can either be called `:` or `noop`; I don't care which, but if anyone does, just say your opinion.

[2016-02-13 21:48] skylerberg opened #88 "Add command line options to dirs, pushd, popd"
https://www.gnu.org/software/bash/manual/html_node/Directory-Stack-Builtins.html

[2016-02-15 06:50] polymetric1 commented on #87
I think it should be `noop`, here's why:
We chose variable binding to be `let variable=value` over `variable=value`, using keywords over operators is more readable and it's just more consistent. A good example of what not to do, C# uses `in` in `foreach` and java uses `:` in its equivalent of that loop type, yet it uses `extends` for class heirarchy and C# uses `:`. Both those language features ar

[2016-02-15 17:45] skylerberg commented on #87
Agreed. Also, it is easier to guess what `noop` does than what `:` does.

[2016-02-17 19:46] Ticki commented on #79
I've never been a fan of the formatting of commit messages in `clog`. The idea is great, though!

[2016-02-17 23:07] polymetric1 commented on #79
I think it should register only when you prefix a commit with something, like `[clog]`

[2016-02-20 05:24] lygstate opened #91 "Getting ion works under windows"

[2016-02-20 20:05] Ticki commented on #91
Most of us are Linux users, so ability to test it can be a little hard. I think @polymetric1 is a Windows user, though.

[2016-02-20 20:10] lygstate commented on #91
I am also a Windows user, indeed, bash have a very bad experience on windows, I hope ion would change the situation.

[2016-02-20 20:12] lygstate commented on #91
Does ion depends on the fork api of POSIX?

[2016-02-20 20:13] Ticki commented on #91
No, it does not. It has very few dependencies due to the ability to run on Redox.

[2016-02-20 20:14] lygstate commented on #91
Then I may try to port it to windows, I am very familiar with Win32 API.

[2016-02-20 20:15] Ticki commented on #91
Well, sure thing. It shouldn't be very hard to get it runnin' on Windows!

[2016-02-20 20:53] lygstate opened #92 "What's the default extension of ion? Or just have no extension?"

[2016-02-20 20:53] lygstate opened #93 "How to calling external ion shell scripts?"
How to calling a function in a external scripts?

[2016-02-20 20:54] lygstate opened #94 "Add builtin document/ planned implemented builtin ."

[2016-02-20 20:56] Ticki commented on #94
I'm not sure what you mean, can you elaborate on this?

[2016-02-21 07:22] lygstate commented on #94
For example,
cd
pushd
popd

[2016-02-21 07:50] stratact commented on #94
Well, we already have those specific commands builtin, so are you suggesting we list the completed ones in the README.md and add what else we haven't implemented yet? Although I think we covered all the builtin commands that we wanted to implement.

[2016-02-21 08:49] lygstate commented on #94
@stratact It's should at somewhere named builtin.md or spec.md

[2016-02-21 17:27] skylerberg commented on #91
Not having the ability to test on Windows myself, I would be interested to hear what difficulties there are.

[2016-02-21 17:27] skylerberg commented on #92
The default extension is `.ion`. Of course, extensions are mostly just a convention.

[2016-02-21 17:27] #92 closed

[2016-02-21 17:29] jackpot51 commented on #91
I thought it already was working on Windows, could you post any vidence it does not?

[2016-02-21 17:29] skylerberg commented on #93
I am not sure I understand the question. Ion does not have functions yet, so there is no way to call functions. External scripts can be run the same way that they can on other systems, e.g. `./script.ion`. To make ion run the script you should have a shebang at the beginning of the script, .e.g. `#!/path/to/ion`.

[2016-02-21 17:31] skylerberg commented on #94
Having some more documentation would be great. Right now, you can get a list of all builtins by running ion and typeing `help`.

[2016-02-22 03:13] polymetric1 commented on #94
Oh, I see what he means, like what I did with coreutils. I'd rename this to "Document complete and incomplete builtins" or something.

[2016-03-01 21:54] jackpot51 opened #98 "Exit with the last command's exit status"
When running a script or running with -c, ion should exit with the last commands exit status.

[2016-03-02 04:18] mmstick commented on #47
Is someone still attempting to implement this functionality right now?

[2016-03-02 10:59] Ticki commented on #47
This should pretty much be fixed by a 5 line edit.

[2016-03-02 13:21] nounoursheureux opened #99 "Curly braces or if...end blocks ?"
The current syntax use if...end blocks, but the proposed syntax uses curly braces. I think we should decide now which syntax we want to use. In my opinion the curly braces would have a more Rust-like feel, and the if...end blocks feel more like other shells (Bash for example). So, what do you think ?

[2016-03-02 13:29] Ticki commented on #99
I prefer curly braces, due two the fact that they are more readable. On the concerns of interactive sessions: You could have `end` as a command closing all delimiters.

[2016-03-02 13:36] nounoursheureux commented on #99
I agree that `end` would be nice for interactive sessions, but it would be really weird in scripts as you would have opening braces with no closing braces.

[2016-03-02 14:03] Ticki commented on #99
Maybe go so far and deny scripts using it?

[2016-03-02 14:27] polymetric1 commented on #47
I totally forgot about this, I don't really think I know how, anyone else can do it

[2016-03-02 16:16] skylerberg commented on #99
I don't think we should use curly braces.

First, being Rust-like should not be a goal. Rust is a great systems language, it would be an awful shell language. It's main goals are to be safe, concurrent, and high performance. None of these are particularly important in a shell language. In a shell language We need to favor interactivity. Favoring interactivity is something that is not really import

[2016-03-02 16:29] jackpot51 commented on #99
I also don't think we should use curly braces. It isn't very script-like, and many users will be coming from bash and will not expect that syntax

[2016-03-02 16:40] skylerberg commented on #99
Syntax is updated to not have curly braces. https://github.com/redox-os/ion/pull/100.

[2016-03-02 16:40] #99 closed

[2016-03-02 16:42] nounoursheureux commented on #70
We should define the syntax for the functions. We could do something like this:
[code]
Or like this:
[code]
(See #99 for curly braces versus begin...end blocks)

The keyword could be `function`, `fn`, `def`, ...
What do you think ?

[2016-03-02 17:26] skylerberg commented on #70
@nounoursheureux I like the first one. I am not picky on the keyword, but I like `fn` because it is less typing than function without any harm to readability in my opinion (everyone knows what `fn` is). I am excited to have functions that actually have named parameters in a shell language finally.

[2016-03-02 17:57] nounoursheureux commented on #70
@skylerberg so the function would be defined like this:
[code]
And called like this:
[code]
@Ticki @jackpot51 are you OK with this ?

[2016-03-02 22:19] mmstick commented on #47
I've implemented the functionality and will be making a pull request for it soon.

[2016-03-03 03:42] mmstick commented on #47
Attempting to get this pull request merged: https://github.com/redox-os/ion/pull/102

[2016-03-03 13:39] #47 closed

[2016-03-03 14:32] mmstick commented on #98
I'll be making a pull request for this soon.

[2016-03-03 14:48] mmstick commented on #98
https://github.com/redox-os/ion/pull/103

[2016-03-03 18:08] mmstick opened #104 "A List of Variables Used By Ion Shell"
### Implemented
- **?**:  Displays the last command's exit code
- **DIRECTORY_STACK_SIZE**: Defines the maximum size of the internal directory stack buffer
- **HISTORY_SIZE**: Defines the maximum size of the internal history buffer
- **HISTORY_FILE**: If set to 1, enables writing a history log to disk
- **HISTORY_FILE_SIZE**: Defines the maximum amount of commands to retain in the log
- **HOME**:

[2016-03-03 21:40] mmstick commented on #87
Is there even a point to having a `noop` command when it's effectively just going to be an alias of `true`?

[2016-03-03 21:55] jackpot51 commented on #87
I agree, `:` is just `true`, so this is already complete

If there is a use case for a noop that doesn't set the exit status to 0 (which is the only thing true does), I can't see it

[2016-03-03 22:03] #98 closed

[2016-03-03 22:07] jackpot51 opened #108 "Add -c argument"
This is done in the redox branch but would need to be merged

https://github.com/redox-os/ion/blob/redox/src/main.rs#L372

[2016-03-04 15:41] skylerberg commented on #108
Cool, I can get to this after unifying our branches into a single mainline.

[2016-03-04 15:48] skylerberg commented on #104
For now here are the ones that would be helpful for tuning the shell:

- [ ] PROMPT
- [ ] DIRECTORY_STACK_SIZE
- [ ] HISTORY_SIZE
- [ ] HISTORY_FILE (Requires writing history to files)

At this point it is not important whether or not we go with Bash, fish, or our own conventions. This is an easy change in the future. We should just do what makes sense or if we have no strong opinion go with what

[2016-03-04 15:49] skylerberg commented on #93
I am closing this for now, but I welcome a response and will reopen if I missed anything.

[2016-03-04 15:49] #93 closed

[2016-03-04 15:51] skylerberg commented on #91
I am closing this for now and will open new issues when we have incompatibilities that are specific. For example, as part of implementing piping I am going to break windows compatibility and at that time I will open an issue for it.

[2016-03-04 15:51] #91 closed

[2016-03-04 15:53] skylerberg opened #109 "Add history expansion"
For examples of history expansion in bash: http://www.thegeekstuff.com/2011/08/bash-history-expansion/.

[2016-03-04 16:13] jackpot51 commented on #108
I put this into #110

[2016-03-04 16:15] #108 closed

[2016-03-04 16:22] Ticki opened #111 "Proper documentation"
Every single function should be documented, see redox-os/redox#525

[2016-03-04 17:14] skylerberg commented on #111
What do you mean be every single function? Are we talking builtins? All public functions? Literally every single function including 1-5 liner private functions?

Also what counts as documenting it?

[2016-03-04 17:22] mmstick commented on #111
I'm pretty sure he simply means the standard practice of ensuring that every function have documentation above the function declaration, built-in or otherwise, regardless of size.

[2016-03-04 17:43] Ticki commented on #111
Yes.

Sure.

3+ lines of docs (`///` comments)

[2016-03-04 18:38] nounoursheureux commented on #109
Also, when the user hits the Up key it should fill the prompt with the previous command.

[2016-03-05 00:43] skylerberg commented on #109
@nounoursheureux Yeah, that is something that would be REALLY nice to have. Unfortunately it will not be trivial. Here is a related issue: https://github.com/redox-os/ion/issues/3.

[2016-03-05 00:50] skylerberg commented on #111
I am all for documenting things every time it makes things clearer. If that means every function, so be it. However, I don't want to see documentation comments that add no information or clarity. For example, in java code it is not uncommon to see something like:
[code]

I don't want to see comments like this because they don't provide any information, they provide a place for the documentation an

[2016-03-05 00:52] skylerberg commented on #109
The issue is that we need to start processing character by character instead of using the readline function. To read character by character we need to set the terminal in raw mode and we need to do this in a way that works on both linux and redox. I don't know what that will entail as I have not looked into it yet. It will be very important in the future though because we will definitely need our

[2016-03-05 05:35] mmstick commented on #104
I'm currently making good progress on rewriting Ion to make use of variables. In doing so, history can now be logged to a file at **~/.ion_history.log** as the default location for logging history. I have currently implemented the following variables:

- DIRECTORY_STACK_SIZE
- HISTORY_FILE
- HISTORY_FILE_ENABLED
- HISTORY_SIZE
- CWD

I may upload a pull request within the next 24 hours with the ch

[2016-03-05 07:02] Ticki commented on #111
I agree.

[2016-03-05 15:37] skylerberg commented on #104
@mmstick Awesome!

[2016-03-05 17:08] skylerberg commented on #104
Add a link to https://github.com/redox-os/ion/issues/46 so that I remember to close it at the same time as this.

[2016-03-05 17:12] skylerberg opened #112 "Add piping from process to process"
I will make a second issue for piping between builtin commands.

[2016-03-05 17:12] skylerberg opened #113 "Add piping for builtin commands"
They should all ignore stdin for now, but they should have an stdout and stderr that can be piped into processes.

[2016-03-05 17:15] skylerberg commented on #87
We do not have a builtin true. We should probably have one so that if someone is doing a massive loop with a noop it doesn't spawn a process.

[2016-03-05 17:17] skylerberg commented on #111
Cool, can we make a list of things that would be good to have for documentation? I would like to start separate issues and once we feel like we have covered most everything in other issues we can close this issue. Otherwise this issue will stay open for ever because we will likely never feel like our documentation is really complete because it is an ongoing project.

[2016-03-05 17:18] #34 closed

[2016-03-05 17:18] Ticki commented on #111
So I think there are three things, which needs to be exposed:

- [ ] Manual pages, for the front end user.
- [ ] API documentation (using rustdoc).
- [ ] A design document.

[2016-03-05 17:21] skylerberg commented on #111
API documentation sounds good. For a design document, I was thinking of using the redox book to explain the design and then linking to it in the README for ion. For manpages are you thinking for the builtins or for ion itself? Normally shells don't have man pages for builtins, but they provide help that is a lot more detailed an helpful than what we have.

[2016-03-05 17:22] skylerberg opened #114 "Add rustdoc documentation for our API"
We should document our functions, particularly public ones and complex ones.

[2016-03-05 17:22] skylerberg commented on #111
https://github.com/redox-os/ion/issues/114 covers API documentation.

[2016-03-05 17:23] Ticki commented on #111
From zsh man pages:

[code]

As you can see, there is quite a lot, that can be documented.

[2016-03-05 17:25] skylerberg opened #115 "Add a manual"
We should add a manual. This could be manpages like http://linux.die.net/man/1/zsh. It could also be something like https://www.gnu.org/software/bash/manual/bashref.html.

[2016-03-05 17:26] skylerberg commented on #111
I see. Yeah there is a lot of work to do there. I opened a relevant issue: https://github.com/redox-os/ion/issues/115.

[2016-03-05 17:27] skylerberg commented on #111
I opened an issue for the Ion chapter in the ion book. https://github.com/redox-os/book/issues/17.

[2016-03-05 18:06] mmstick commented on #104
Pull request has been submitted: https://github.com/redox-os/ion/pull/116/

[2016-03-05 18:07] mmstick commented on #46
https://github.com/redox-os/ion/pull/116/

[2016-03-06 11:09] nounoursheureux opened #118 "Variable expansion syntax proposition"
While the current syntax `$var` is great thanks to its simplicity, I think it can be inconvenient. Here is an example in the form of an imaginary PROMPT variable:

[code]

The problem here in my opinion is that is can be unclear when a variable's name ends. In this particular case it is easy because I used special characters, but if I wanted to use `a` instead of `@` it wouldn't work (the parser w

[2016-03-06 11:13] Ticki commented on #118
Personally, I would rather avoid having too easy in-string expansions.
I really dislike POSIX shell's expansion of "!", "`", and "$". Instead, I
think we should use one (and only one) sigil to denote these types of
expansions. This could be anything, for example "\".

[2016-03-06 11:21] nounoursheureux commented on #118
Okay, so we could have something like `\{var}` to avoid using the dollar sign which is quite common.

[2016-03-06 11:22] Ticki commented on #118
Yeah.

cc. @skylerberg.

[2016-03-06 14:33] nounoursheureux commented on #118
@Ticki I agree that the dollar sign is widely used so it can be inconvenient to have to escape it, but `${` isn't really common so I think we could use it for string expansion.

[2016-03-06 14:34] Ticki commented on #118
True, `${` is fine too, but having simply `$` would be quite inconvenient.

[2016-03-06 17:53] skylerberg commented on #118
First of all let me explain how this is taken care of in Bash, because I think it is actually quite good. In Bash you the problem of ambiguous expansion is solved by *optionally* wrapping the variable in curl braces. The following is legal in bash and does what you would hope it does:
`let PROMPT = "${USERNAME}@${CWD}:$SUFFIX"`.

Next the problem of accidentally expanding within quotes is solved b

[2016-03-06 18:34] nounoursheureux commented on #118
Well, I guess it comes down to personal preferences. I would prefer to have only `${}` (I find it more readable too) and don't have to bother with strong/weak quoting most of the time, but I understand your point. I think for now we could just add the syntax with the curly braces, and let the user decide wich one they want to use.

[2016-03-06 18:36] skylerberg commented on #118
Yep, that is what I would like to do. At some point in the future it might be worth writing a guide for writing readable scripts that would recommend sticking with the `${}` notation. I just don't want to force people to type it in an interactive session.

[2016-03-07 01:10] skylerberg opened #119 "Redo flow control and assocaited functions as part of the grammar"
Instead of implementing what is essentially parsing logic as part of the flow_control class, this should be moved into the grammar. The main problem I anticipate with this is that we need a way to detect a partially formed statement such as in incomplete for loop so that the user can keep working on it while using the shell interactively.

[2016-03-07 05:54] skylerberg commented on #112
https://github.com/redox-os/ion/pull/120 implements this.

[2016-03-07 05:54] #112 closed

[2016-03-07 05:55] skylerberg commented on #113
https://github.com/redox-os/ion/pull/120 does not address this. I think this will be about the same level of difficulty or possibly more difficult than implementing piping was in the first place.

[2016-03-07 06:44] skylerberg opened #121 "Add PROMPT variable that sets the prompt"
Since @mmstick added the use of variables to configure the shell, this should be pretty straightforward now.

[2016-03-07 16:45] skylerberg opened #123 "Make variable expansion respect quoting"
Variables should be expanded during weak quoting (with double quotes) and they should not during hard quoting (with single quotes).

[2016-03-07 16:49] skylerberg opened #124 "Variable expansion should always try to expand as long a string as possible"
There is a bug right now when using two variables in which one is a prefix of the other. To illustrate
[code]
When `$var` is expanded it expands the first part of `$variable` as well.

[2016-03-07 16:57] skylerberg opened #125 "Special variable `?` no longer expands"
I didn't realize this until after merging https://github.com/redox-os/ion/pull/122, but since it only checks for alphanumeric and underscore it will not expand when you try `$?`.

[2016-03-07 17:01] nounoursheureux commented on #125
Sorry, I'm gonna fix that. While we are at it, what should and what should not be allowed in a variable name ?

[2016-03-07 17:05] skylerberg commented on #125
Let's make a utility function in `variables.rs` that checks if a character is a valid variable character. For now we should make it alphanumeric, underscore, and question mark. Then we can add more characters as we need them. I don't have a strong opinion on what should and should not be allowed.

[2016-03-07 17:07] skylerberg opened #127 "`let` should check the validity of variable names using the same mechanism that variable expansion does"
Right now you can define variables that you can never reference because they are not valid according to the variable expansion logic.

[2016-03-07 17:07] skylerberg commented on #125
Related https://github.com/redox-os/ion/issues/127.

[2016-03-07 17:14] nounoursheureux commented on #127
I will do it. :+1:

[2016-03-07 17:15] #125 closed

[2016-03-07 17:39] skylerberg opened #131 "Add io redirection operators"

[2016-03-07 17:40] #121 closed

[2016-03-07 17:41] #127 closed

[2016-03-07 17:42] skylerberg opened #132 "Add heredocs"
[code]

[2016-03-07 17:42] skylerberg opened #133 "Add herestrings"
[code]

[2016-03-07 17:43] nounoursheureux commented on #124
I think my pull requests fixed this issue.

[2016-03-07 17:52] skylerberg commented on #124
Just tested and it looks good. Thanks!

[2016-03-07 17:52] #124 closed

[2016-03-07 17:58] jackpot51 commented on #131
This is what I would like to see next, if possible :+1:

[2016-03-08 05:17] skylerberg commented on #29
Since  the backgrounding was not useful in it's current state and I haven't taken the time to make it work properly with piping, I am removing it. This is not really lost work because I am going to add it back in for pipelines sometime soon. I am also leaving it in the grammar for now. For reference, here is the code I am taking out: https://github.com/redox-os/ion/blob/4a8cd17ec85d1e2a980987c2dda

[2016-03-08 05:31] skylerberg opened #134 "Make piping work for stderr"
There is no way to pipe stderr right now.

[2016-03-08 05:32] skylerberg opened #135 "Make redirection work with stderr"
There is no way to redirect stderr currently

[2016-03-08 05:32] skylerberg opened #136 "Add a type of redirection that appends to a file: `>>`"
Write now redirection always overwrites the file.

[2016-03-08 05:34] skylerberg opened #138 "Print helpful messages when redirection fails"
Currently when something goes wrong during io redirection ion will just silently ignore it. It should  say something went wrong.

[2016-03-08 05:40] koyedele opened #139 "Unable to compile ion from sources"
I have the latest sources (commit id: 7dca7518b30a7e785ea5ff3335e24584d8818ce0) and I'm unable to compile ion.
Here's the error
`
/Users/kunle/.cargo/git/checkouts/rust-peg-bb4e2b887d852aec/libsyntax-changes-again/src/peg_syntax_ext.rs:1:1: 1:66 error: #[feature] may not be used on the stable release channel
/Users/kunle/.cargo/git/checkouts/rust-peg-bb4e2b887d852aec/libsyntax-changes-again/src/pe

[2016-03-08 05:40] skylerberg commented on #139
Are you running on the latest nightly?

[2016-03-08 05:41] koyedele commented on #139
latest nightly of ion, or of cargo?

[2016-03-08 05:41] skylerberg commented on #139
Cargo/rustc

[2016-03-08 05:42] koyedele commented on #139
No I don't think so. My cargo version is: cargo 0.9.0 (8fc3fd8 2016-02-29)

[2016-03-08 05:43] koyedele commented on #139
Should I upgrade to the latest nightly?

[2016-03-08 05:43] skylerberg commented on #139
We run on the nightly releases of rust for redox because we use features that are not marked stable yet for most of our projects.

https://www.rust-lang.org/downloads.html.

Upgrading should fix the issue.

[2016-03-08 05:45] koyedele commented on #139
Thanks! I'll give that a try.

[2016-03-08 05:46] skylerberg commented on #139
If the issue persists then I will reopen this.

Good luck, have fun :)

[2016-03-08 05:46] #139 closed

[2016-03-08 07:01] #131 closed

[2016-03-08 14:25] Ticki opened #140 "Raw mode is available"
I added it yesterday to `terminal`.

[2016-03-08 20:23] mmstick commented on #104
Three additional variables that might be useful to have are

- USER: displays the current user's username
- UID: display the UID of the current user
- GID: display the GID of the current user

[2016-03-08 20:44] skylerberg commented on #104
Do other shells do this? I am wondering what the advantage over something like `whoami` is.

[2016-03-08 21:20] mmstick commented on #104
Bash does indeed do this, although I suppose the `id` and `whoami` commands cover the functionality in general if the shell doesn't support it.

[2016-03-09 06:04] Ticki commented on #140
ticki/libterm supports Redox now.

[2016-03-09 06:37] skylerberg commented on #140
So I can use ticki/libterm to change Redox or Linux into or out of raw mode?

[2016-03-09 10:20] Ticki commented on #140
Yes.

[2016-03-09 16:27] skylerberg commented on #140
That is great!

[2016-03-10 22:14] skylerberg commented on #138
Here are the if-statements that should have an else statement with a helpful message:
https://github.com/redox-os/ion/blob/master/src/pipe.rs#L12
https://github.com/redox-os/ion/blob/master/src/pipe.rs#L18

The easiest way I can think to test this out while developing it is to try to redirect from or into a file that you do not have permission to read/write. This should cause the file io operation

[2016-03-11 00:13] jackpot51 commented on #138
Please do this, I need to see the errors in Redox as piping to a file does not work!

[2016-03-11 01:40] jackpot51 commented on #138
Oops, meant to say fixes

[2016-03-11 01:40] #138 closed

[2016-03-11 22:08] mmstick commented on #72
At the very least, we should implement the minimum functionality of ~. I've just uploaded a pull request which implements the `$HOME` variable, so we should be able to just expand ~ to $HOME's value when it is detected.

[2016-03-11 23:03] jackpot51 opened #143 "Quotes after the start of an argument"
`let something="a string"` will set something to `"astring"`, with the quotes included, and no space
`echo something="a string"` will print `something="a  string"`, with an additional space (not visible due to github formatting)
Ideally, `sometext"some other text"` would be processed as a single argument `sometestsome other text`

[2016-03-12 00:35] mmstick commented on #87
We now have a builtin true and false, but it's not very useful right now because if does not accept single arguments as input, and the while loop construct doesn't exist.

[2016-03-12 02:36] jackpot51 opened #145 "Ion no longer prints "command not found""
Instead, the exit status is silently set to 127

[2016-03-12 02:49] skylerberg commented on #143
Thanks for reporting. I will have to take a look at how to integrate this into the grammar.

[2016-03-12 02:50] skylerberg commented on #87
Thanks for adding this! Closing.

[2016-03-12 02:50] #87 closed

[2016-03-12 02:51] skylerberg commented on #145
That is definitely a regression. I will take a look this weekend.

[2016-03-12 02:54] skylerberg opened #146 "We should use PWD variable instead of CWD"
See discussion in https://github.com/redox-os/ion/pull/116.

[2016-03-12 02:55] skylerberg commented on #140
This will let use move forward on https://github.com/redox-os/ion/issues/3 in the future.

[2016-03-12 02:55] #140 closed

[2016-03-12 03:05] stratact commented on #146
To be honest I like CWD more, just because I think "current" is a better word than "present" but that's opinion alone.

Also the POSIX syscall that the command would use is called `getcwd()` which is standard on POSIX systems.

The Rust libstd uses `std::env::current_dir()` to get the current/present working directory as well.

The only downside is that it's not the convention from other shells, b

[2016-03-12 03:16] stratact commented on #146
Just something to think about. If you guys think PWD is best, I have no problems.

[2016-03-12 18:10] #146 closed

[2016-03-13 00:00] skylerberg commented on #145
https://github.com/redox-os/ion/pull/149

[2016-03-13 00:00] #145 closed

[2016-03-13 19:18] skylerberg commented on #72
One thing we need to make sure is that tilde expansion happens during variable assignment. We also need to make sure that we respect quoting when doing tilde expansion. I will raise these as separate issues if need be.

[2016-03-13 19:25] skylerberg opened #150 "Add brace expansion to Ion"
http://tldp.org/LDP/Bash-Beginners-Guide/html/sect_03_04.html

[2016-03-13 20:15] skylerberg opened #151 "Glob expansion strips trailing slash characters"
If you run `echo ./` it will print `.` rather than `./`. This is because the pattern will be considered a glob and will be matched and then the match will not include a slash.

[2016-03-13 20:28] #151 closed

[2016-03-13 22:04] skylerberg opened #153 "Set OLDPWD"
We set PWD, but do don't do anything with OLDPWD at the moment.

[2016-03-13 22:26] skylerberg commented on #72
https://github.com/redox-os/ion/pull/154

[2016-03-13 22:26] skylerberg opened #155 "Make tilde expansion work for other users' home directories"
`~foo` should expand to the home directory for a user called `foo`.

[2016-03-13 22:27] skylerberg opened #156 "Make tilde expansion have access to the directory stack"
https://www.gnu.org/software/bash/manual/html_node/Tilde-Expansion.html. Tilde expansion does not currently have the options `~N`, `~+N`, or `~-N`.

[2016-03-13 22:54] mmstick commented on #155
Should we use the getent command on UNIX systems for obtaining a list of user IDs and initializing their values during the init phase? Or should we get the values from the passwd file directly (has issues with LDAP systems)?

[2016-03-14 04:21] mmstick commented on #153
https://github.com/redox-os/ion/pull/157

[2016-03-14 04:28] mmstick commented on #104
I'll be updating the original post with implemented variables.

[2016-03-14 04:55] skylerberg commented on #153
Cool!

[2016-03-14 04:55] #153 closed

[2016-03-14 04:55] #46 closed

[2016-03-14 04:56] #72 closed

[2016-03-14 04:57] skylerberg commented on #111
Since I have separate issues for each component of this, I am closing it.

[2016-03-14 04:57] #111 closed

[2016-03-14 05:25] skylerberg commented on #109
https://www.gnu.org/software/bash/manual/html_node/Event-Designators.html#Event-Designators

[2016-03-14 05:25] skylerberg commented on #109
https://www.gnu.org/software/bash/manual/html_node/Word-Designators.html#Word-Designators

[2016-03-14 05:26] skylerberg commented on #109
https://www.gnu.org/software/bash/manual/html_node/Modifiers.html#Modifiers

[2016-03-14 05:42] skylerberg opened #158 "if-else does not work properly (regression)"
Running this script:
[code]
Results in:
[code]

This is really wrong.

I think this answer is to move this into the grammar, but it is not going to be easy: https://github.com/redox-os/ion/issues/119. Also, https://github.com/redox-os/ion/issues/66 could have prevented this regression.

[2016-03-14 18:08] mmstick commented on #158
I'm not at all familiar with the grammar, but is there some documentation to explain how the grammar works?

[2016-03-14 18:17] nounoursheureux commented on #70
I think we can close this

[2016-03-14 19:40] #70 closed

[2016-03-14 20:00] nounoursheureux commented on #158
My guess is that the parser makes the confusion between `<` and `>` used for comparing two values and `<` and `>` used for piping (the `==` and `!=` comparison operators work fine)

[2016-03-14 20:50] skylerberg commented on #158
@mmstick Unfortunately, the grammar is a real mess and it is hard to follow. It is in peg.rs and the best documentation for understanding how it works is to read up on Parsing Expression Grammars and rust-peg (a dependencies for Ion).

@nounoursheureux Ah, that is a good guess.

[2016-03-16 08:45] MovingtoMars commented on #3
Should the GNU readline-like functionality be implemented in ion itself, or a separate crate?

[2016-03-16 12:55] hexsel commented on #3
@skylerberg you mean generally, or the commandline interface? I've meant the latter, where fish is actually quite elaborate.

i agree some stuff is not perfect in fish, e.g. their error handling is atrocious, specially if you want a stop-on-error script.

[2016-03-16 12:59] Ticki commented on #3
@MovingtoMars,

If it _can_, it _should. So I guess, the answer is: yes, it should be a separate crate.

[2016-03-16 12:59] hexsel commented on #3
examples: Fish has a simple script for prompt, lots of plugins inc an amazing one for git, you can jump words back and forth even on OSX, you can set the repeat rate for keypresses, it uses colour quite well (and occasionally excessively).

[2016-03-16 16:23] skylerberg commented on #3
@hexsel I meant generally. Fish does quite a bit for the command line interface

@MovingtoMars @Ticki I think it will be simpler to put it in the same crate so that it can more easily make use of thinks like shell history, shell variables, information about builtin commands, etc. That isn't to say that we couldn't do it in a separate crate, but I don't think we will gain a lot from doing that.

[2016-03-20 01:51] jhod0 opened #159 "Deleting a variable - Change let to unlet"
Current syntax for deleting a variable:

[code]

In my opinion, this is very ambiguous syntax. I think `unlet` would make a lot more sense for deleting a variable, like so:

[code]

This seems like a much more natural choice.

[2016-03-20 16:40] nounoursheureux commented on #158
Maybe I'm missing something, but I the only way that I see to fix this issue is to use other comparison operators

[2016-03-20 18:15] #159 closed

[2016-03-20 18:19] #136 closed

[2016-03-20 18:28] skylerberg commented on #155
We should probably not get them from the passwd file directly, if possible. I am not sure what the best approach for solving this is.

[2016-03-20 18:48] nounoursheureux commented on #64
I think this issue can be closed

[2016-03-20 18:53] #64 closed

[2016-03-21 13:33] nounoursheureux opened #163 "Use templates for issues and pull requests"
It encourages contributors to describe and explain the changes they made/the issue they encounter. My pull requests for example tend to be quite vague because we already discuss on Mattermost, and that makes it hard to follow for someone who wasn't part of the discussion. If the issue doesn't fit the template really well you can still choose to ignore it. The Redox kernel is already using them, so

[2016-03-23 02:06] #163 closed

[2016-03-23 02:51] choshya commented on #118
Hey! I'll try to make this my first contribution!

[2016-03-24 01:54] mmstick commented on #155
The best approach will be conditional compilation for each supported platform. Obtaining the information from getent is the best solution for NIX systems.

[2016-03-24 03:43] skylerberg commented on #66
As much as I would prefer to leave low-hanging fruit to newcomers to the project, this is high impact so I am just gonna get it done. I think having examples of ion scripts will do more to help people than just the SYNTAX.md.

[2016-03-24 04:34] skylerberg opened #165 "Parse errors should print a helpful message when they occur"
**Reproduction**: `echo "asdf""`

**Expected behavior**: Tell the user there is a syntax error.

**Actual behavior**: Fails silently.

[2016-03-24 04:36] morganroman commented on #165
AYE AYE CAP'N

[2016-03-24 05:08] skylerberg commented on #165
https://github.com/redox-os/ion/pull/166. Welcome aboard!

[2016-03-24 05:36] skylerberg opened #167 "Add process expansion"
In shells like Bash you can use backticks or `$()` to run a process in a subshell and then use it's output in the place where you used process substitution. We should support this and we should not use the backtick syntax. Instead we should use either `$()` or just parens `()`.

[2016-03-24 05:36] #165 closed

[2016-03-26 19:01] mmstick commented on #158
Bash at least just uses a backslash for escaping the `<`, while conditionals are performed using the test command which may or may not be built in.

[2016-03-26 21:24] skylerberg commented on #158
We might be able to fix this with https://github.com/redox-os/ion/issues/119. That way the grammar would expect an operator in an if statement and would treat it as an operator.

[2016-03-28 16:19] nounoursheureux opened #168 "Rewrite the tilde_expansion function without regular expressions"
**Problem**: Ion uses the `regex` crate for tilde expansion, which is not ported to Redox. Right now there is a `redox` branch without the `regex` crate and without tilde expansion, but this is just a workaround and not really a solution

**Solution**: We should rewrite the tilde expansion function without regular expressions

[2016-04-18 04:17] ElijahCaine commented on #150
Hey @skylerberg I'd like to help out with Ion by working on this issue. Is there a good reference for `ion`s design and maybe some suggested docs to get started working on issues like this?

[2016-04-18 08:07] nounoursheureux commented on #150
I don't think we have references for ion's design, so if you have any questions don't hesitate to ask. The code for string expansion is currently located in the [`Variables::expand_string`](https://github.com/redox-os/ion/blob/85ad6ba4c1043762205cfc8a4635cfe7a3aca789/src/variables.rs#L195) method. From there you can do two things:
* Add a `brace_expansion` function that loops through a string, doe

[2016-04-19 03:08] skylerberg commented on #150
Thanks, @nounoursheureux! All that information is spot on.

@ElijahCaine, welcome to the project! :)

[2016-04-21 19:55] ElijahCaine commented on #150
@nounoursheureux thank you so much for the information! When I get some work in on this I will definitely keep you up to date @skylerberg. I won't promise any code soon with school sucking up a lot of my free time, but I'll do my best.

I'm excited to contribute and can't wait to get started :smile: .

[2016-06-04 15:47] #168 closed

[2016-06-04 22:13] MovingtoMars commented on #78
Even before this is implemented, it would be nice to just have `rustfmt` run over the repo manually now.

My editor runs `rustfmt` on save, and it causes a lot of format changes. This is annoying because I have to run `git add -p` to manually select only changes relevant to the commit so the commit isn't messy.

[2016-06-05 16:48] #156 closed

[2016-06-15 09:28] MovingtoMars commented on #3
Hey all, just letting you know that I'm working on a readline replacement using termion. Typing, editing and history work quite well, and primitive filename completion is working (with a couple of bugs). There's just some more work and polishing to do before I'm ready to publish.

[2016-06-29 19:53] msehnout commented on #3
@MovingtoMars When do you plan to publish it? I was thinking of implementing the same, but I don't want to duplicate the work, so I'll wait for your library.

[2016-06-29 20:09] MovingtoMars commented on #3
I'll try to get it done in the next few days. There's just a bit of work I have to do. For example, word boundaries don't take into account quoted words and escaped spaces yet.

[2016-07-02 01:14] MovingtoMars commented on #3
Here we go: https://github.com/MovingtoMars/liner
Keep in mind it's in early stages and many things need improvement.

[2016-07-02 13:50] jackpot51 commented on #3
@MovingtoMars @skylerberg I am working on integrating liner, it is fairly straightforward because everything we need is contianed in src/input_editor.rs

[2016-07-04 19:29] #158 closed

[2016-07-04 19:35] #66 closed

[2016-07-04 19:37] skylerberg commented on #79
I am going to close this. I don't think a change log will be helpful unless we have a user base that is not expecting breaking changes.

[2016-07-04 19:37] #79 closed

[2016-07-07 00:51] dcampbell24 commented on #3
@jackpot51 @MovingtoMars @skylerberg https://github.com/kkawakam/rustyline looks like it may be a more mature and feature complete project that is also under an MIT license.

[2016-07-24 23:14] ids1024 opened #183 "Tab completion of builtins and functions"
Tab completion should support builtins and shell functions.

Edit: Variables should also be completed.

[2016-07-24 23:40] jackpot51 commented on #183
working on it, thanks!

[2016-07-25 01:35] jackpot51 commented on #3
Liner has provided a complete component for this,  closing

[2016-07-25 01:35] #3 closed

[2016-07-29 13:44] munyari commented on #9
Is there still any will to consider nom? What are the advantages and disadvantages of using nom as compared to peg?

[2016-07-31 18:35] skylerberg commented on #9
@munyari Sure we could consider nom, but I don't see any practical advantage. IMO peg is much easier to use and shows the grammar in a representation that is more independent of the implementation. I think switching to nom would be the result of bike shedding and a waste of implementation effort.

[2016-07-31 22:38] skylerberg commented on #9
No apologies required, it is fine to continue a discussion here.

I have not reviewed the code for peg, but it is most likely possible to do it zero-copy because it mostly just returns you views into a string, which I am guessing is the original. However, our code does copy strings in some places for ease of implementation. It is much easy to pass around an owned string than deal with lifetime iss

[2016-07-31 22:42] munyari commented on #9
Awesome, thanks for discussing that with me!

[2016-07-31 22:49] munyari commented on #9
I would also tend to agree with you. I've been building a shell which I think may eventually implement the POSIX shell spec. In that respect, nom's lack of recursive grammar definitions is a huge pain. I may look to a tool like PEG in the future.

[2016-07-31 23:05] skylerberg commented on #9
I would recommend PEG, but you would want to read up on how it differs from BNF because though it looks similar, it actually has some major differences (e.g., the ordering of rules matters). I would also recommend doing some of the expansions as part of a lexing phase before parsing with your grammar for a posix shell.

[2016-09-27 19:03] mmstick commented on #150
@ElijahCaine Do you still plan to work on this feature? If not, I can quickly implement this feature.

[2016-09-28 00:40] mmstick commented on #150
I've an implementation that combines brace expansion with variable expansion. I'll have a pull request uploaded shortly.

[2016-09-29 01:52] mmstick commented on #150
This should be marked as complete as this was merged: https://github.com/redox-os/ion/commit/d0a2e0a224bc1c57718d58b7b2d1cd8d1c80d052

[2016-09-29 01:59] mmstick commented on #167
I will look into implementing this feature using the `$()` syntax. I think it's at least important that Redox has a shell that has support for a POSIX-syntax mode.

[2016-09-29 02:52] #150 closed

[2016-09-29 02:52] jackpot51 commented on #150
Thanks!

[2016-09-29 18:46] mmstick commented on #167
Updating to say that I have process expansion functionality in working, I'm just currently blocked by needing to find a way to get the output from the standard output of the subprocess.

[2016-10-03 18:22] ElijahCaine commented on #150
Thanks for implementing this.  I got pulled away by other projects.  Glad it got merged.

[2016-10-04 03:30] mmstick commented on #150
I'll soon be working on improving it by eliminating as much heap allocations as possible by creating a tokenizer that will slice the string at all key indices. However, that may be a week or two as family is currently visiting from Arkansas this week.

[2016-10-12 22:52] mmstick commented on #150
Now beginning work on eliminating all the usages of vectors in my implementation. It's fairly close to being finished. The only heap allocations in use will be the string that is generated from the entire process, and a vector of tokens that is returned from the expansion tokenizer. It should be a fair amount faster than what's currently in use.

[2016-10-15 22:57] mmstick commented on #150
Had to get a new laptop configured as my previous one bit the dust, but I'm deciding to expand the functionality of our brace expansion with my new implementation which will support variables inside braces, and permutating braces when there's more than one, all the while still aiming for absolute performance and minimal heap allocations. There will be a ton of added test cases once I'm complete.

[2016-10-24 23:50] #183 closed

[2016-11-09 06:36] mmstick commented on #150
I'll have a pretty good pull request to make soon. I got a bit sidetracked, and I've rewritten it a couple times, but I'm almost finished with implementing a vastly superior version of brace/variable expansion, where I try to create and use Iterators as much as possible. Here's a sneak peek of what the new code will look like, taken from a submodule named `shell_expand`

[code]

The function will

[2016-11-14 21:44] GlenDC opened #194 "loss of spaces in specific use cases of a `let` assignment"
**Reproduction**: run any of the following commands:
+ `let countdown="One, two, three... Go!"; echo $countdown`
+ `let countdown ="One, two, three... Go!"; echo $countdown`

**Expected behavior**: stdout: `One, two, three... Go!`

**Actual behavior**: stdout: `One,two,three...Go!`

**Build information**:
+ `rustc -V`: `rustc 1.14.0-nightly (cae6ab1c4 2016-11-05)`
+ `git rev-parse HEAD`: `852a1170

[2016-11-14 22:08] GlenDC commented on #194
Sorry, this might be related or a duplicate of issue #143

[2016-11-14 22:11] GlenDC commented on #115
Ion seems to be part of http://doc.redox-os.org/book/userspace/ion/ion.html, even though it is incomplete. So this might be the place where we can add high level (e.g. syntax), low level (how do this work exactly) and other info (what's the difference with bash).

[2016-11-14 22:39] GlenDC commented on #104
Both `$USER` and `$HOME` also seem to be supported by default.

[2016-11-15 16:05] GlenDC opened #195 "Add Syntax Highlighting Support for ion"
If we're serious about pushing ion we probably want to start providing syntax highlighting for ion scripts in the most important places.

- [ ]  add support for ion code block syntax highlighting to [highlight.js][1], the library used by the technology used to render the redox-os book: https://github.com/redox-os/book/issues/67 (**in progress**)
- [ ]  add support for ion code block syntax highlig

[2016-11-15 16:08] mmstick commented on #195
This won't be done until the syntax is stable. There's yet to be an official syntax.

[2016-11-15 16:11] jackpot51 commented on #167
I have been working on this here: https://github.com/redox-os/ion/tree/process_expansion

The problem right now is that the peg parser will break `$(command args)` into `$(command` and `args)` unless it is quoted like `"$(command args)"`

[2016-11-15 16:32] mmstick commented on #167
I'm looking into that right now. I have a number of changes to make to the **shell_expand** module as well as **variables.rs**.

[2016-11-15 16:51] jackpot51 commented on #167
Thanks!

[2016-11-15 17:14] mmstick commented on #194
It is a duplicate. There's an issue with the peg parser whereby you need to have a space after `=` otherwise it won't correctly parse what follows next.

[2016-11-15 20:22] mmstick commented on #194
I'll have this fixed soon.

[2016-11-15 20:30] mmstick commented on #143
I have a fix for this which I am working on. I'll submit it soon.

[2016-11-23 16:29] GlenDC commented on #195
@mmstick I understand, I might have jumped the gun on this one.
Where are we discussing the official syntax as the development of Ion progresses?

[2016-11-28 02:51] mmstick commented on #194
You'll find that this issue is fixed now.

[2016-11-28 02:51] mmstick commented on #143
This is now fixed

[2016-11-28 02:55] #143 closed

[2016-11-28 02:55] #194 closed

[2016-11-28 14:53] #123 closed

[2016-11-28 14:53] #83 closed

[2016-11-28 14:53] #84 closed

[2016-11-28 14:54] #167 closed

[2016-11-29 19:03] mmstick commented on #195
As far as I know, there's no discussion yet on what syntaxes will be featured. The flow control is in it's early stages. Most of the work I've been doing pertains to shell expansion syntax, like so:

**$(command)** - process expansion
**${variable}** - braced variables
**prefix{in1,in2}infix{in3,in4}suffix** - brace permutators

And this work is now pretty much done. Good news is that Ion is almos

[2016-12-02 08:32] watafalk opened #207 "Error about pipe "|""
**Reproduction**:  ls|cat

**Expected behavior**: print the content of "ls" command

**Actual behavior**: it shows `ion: command not found: ls|cat`

**Build information**: https://github.com/redox-os/redox/releases/download/0.0.3/livedisk.iso

---

Because it requires space before the pipe symbol.

Another problem: `wtf | wtf|wtf`

Error:

[code]

![2016-12](https://cloud.githubusercontent.com/ass

[2016-12-02 16:35] mmstick commented on #207
I'll have it fixed in pretty much no time, with added unit tests to account for spaceless piping.

[2016-12-02 17:46] mmstick commented on #207
I've fixed it, so I'll be uploading a pull request soon with the fix.

[2016-12-02 17:50] jackpot51 commented on #207
@mmstick thanks!

[2016-12-02 21:48] #207 closed

[2016-12-31 07:49] vors opened #209 "macOS: left arrow doesn't work"
**Reproduction**: [describe how you are able to reproduce ("trigger") this bug/issue.]
On macOS,

[code]

Then type anything and try to use left arrow

**Expected behavior**: [describe the behavior you would expect the repro to yield.]

left arrow works

**Actual behavior**: [describe the actual behavior, which is presented through the repro.].

left arrrow doesn't work

**Build information**: [ou

[2016-12-31 08:41] vors commented on #118
The single-quote / double-quote approach that @skylerberg described is also employed in other shells (i.e. fishshell, powershell). I think it's universal enough to consider implementing it that way.

[2016-12-31 18:50] mmstick commented on #118
@vors I've actually already implemented the double and single quoting expansions, so this is complete.

[2016-12-31 20:02] vors commented on #118
Ah, cool :)
I also see that `${a}` syntax works as well.
Should this issue be closed then?

[2016-12-31 20:36] #118 closed

[2017-01-01 07:30] vors opened #210 "Readme and design goals"
Hello,

I'm interested in shells in general and recently started learned rust.
I played around with ion a little bit.
I'd like to gain some context about this project.
I.e. what are the design goals? What a non-goals?
It seems that POSIX-compatibility is non-goal for example.

Would love to see some elaborate text about it in the README, if possible.

Regards,
-Sergei

[2017-02-07 18:12] msehnout opened #212 "if statement does not work with variables"
We need to handle variable names in conditions so we can compare them. The if statement implementation is pretty simple right now. Do you have any other idea what could be implemented and how to improve it?

**Reproduction**:
Add debug message:
[code]
Run this script:
[code]

**Expected behavior**:
pass

**Actual behavior**: [describe the actual behavior, which is presented through the repro.].
[c

[2017-02-07 18:22] mmstick commented on #212
If and friends basically just need to hook into the existing shell expansion logic. At this time, they aren't taking advantage of it.

[2017-02-12 13:11] #212 closed

[2017-02-17 17:46] Mojo4242 opened #214 "Space pipe (aka the Arkanoïd bug)"
Space matters with pipe, it probably should not:

**Reproduction**
[code]

**Expected behavior**
[code]
----
**rustc -V** :
[code]

**rustup show** :
[code]

**git rev-parse HEAD** :
[code]

**qemu-system-x86_64 -version** :
[code]

**uname -a** :
[code]

[2017-02-19 15:58] msehnout commented on #210
I can see that this issue is quite old, but I also think that Ion should have some sort of design documents, so contributors know what to do. What do you think @skylerberg, @jackpot51, @mmstick ?

[2017-02-20 20:36] jeandudey opened #215 "Command aliases"
Will command aliases be supported?

[2017-02-21 18:02] jeandudey commented on #215
About that, trying to workaround this with `fn` gives this bug:

#### Example
[code]
in shell:
[code]

I don't know if this is a bug, or a intentional feature (recursiveness?).

[2017-02-23 14:12] msehnout commented on #215
I think the intention is to use functions for this purpose.

[code]

[2017-03-02 02:52] mmstick commented on #214
Easily fixed. It will just require a single line to be changed. [This one](https://github.com/redox-os/ion/blob/962c3ec9e004a48bad9ed6913c7097a4286ba3e5/src/peg.rs#L281).

[code]

The `IS_VALID` constant is set to:

[code]

So basically pipelines should be changed to use this instead:

[code]

[2017-03-03 05:54] mmstick commented on #210
Basically, any area where you think Ion could use some improvement, you're free to work on that. If you have some ideas then you're free to propose them. Pick a feature and implement it.

[2017-03-04 18:06] mmstick commented on #214
This can be closed

[2017-03-04 18:17] #214 closed

[2017-03-04 18:17] jackpot51 commented on #214
Sweet

[2017-03-05 00:48] mmstick commented on #215
The `alias` command simply hasn't been implemented yet. You're free to implement it if you want though.

[2017-03-05 19:18] mmstick commented on #215
I'm working on this at the moment.

[2017-03-05 20:11] mmstick commented on #215
I'm halfway through implementing this. Syntax will expand upon the existing `let` functionality by adding a new `alias` keyword to define that the following binding will be an alias binding versus a variable binding.

[code]

[2017-03-06 03:28] mmstick commented on #215
This can be closed now. You can write aliases like so:

[code]

[2017-03-06 03:43] jackpot51 commented on #215
@mmstick I also added `unalias`

[2017-03-06 03:44] #215 closed

[2017-03-06 18:07] mmstick commented on #22
What if were to do as the `fish` shell does and provide a built-in `math` command?

[2017-03-06 18:11] mmstick commented on #4
Today, everything here has been implemented except for heredocs and herestrings.

[2017-03-06 18:43] mmstick opened #224 "`||` and `&&` Operators"
Just a heads up that I'm going to investigate implementing this soon.

[2017-03-06 18:44] mmstick opened #225 "Nested For Loops"
Currently, you can perform a for loop by itself, but `handle_end` will end all loops, so nested for loops aren't supported yet.

[2017-03-06 18:46] mmstick opened #226 "While Loops Improved"
Basic support for `while` loops has been implemented. The current syntax will parse the expression given for each loop, and if the result of the expression is either `true` or `1`, the looping will continue.

In the near future, I will be implementing it more properly by executing commands and getting their status back.

[2017-03-08 01:49] mmstick commented on #224
Feature has been implemented

[2017-03-08 01:49] #224 closed

[2017-03-08 16:54] mmstick commented on #226
Now working on this.

[2017-03-08 18:40] mmstick opened #230 "Foreach Loops"
[code]

It should be trivial to implement, but I think it would be a great idea to gain support for a work-stealing for loop. As the Ion shell is written in Rust, it's trivial to implement using either `std::thread` and devising a CPU pool, crossbeam and also devising a CPU pool, or [futures](https://docs.rs/futures-cpupool/0.1.2/futures_cpupool/) which already provides a CPU pool. Even better is

[2017-03-08 18:53] mmstick opened #231 "Refactoring Plans"
I think it'd be best if we separated builtins from existing modules and placed them into their own `builtins` module. No need to have them embedded within existing structures. Perhaps one file per builtin command.

In addition, the `Command` structure in the main source file should also go into the `builtin` module and perhaps have it's name changed from `Command` to `Builtin`, as these commands a

[2017-03-08 19:10] mmstick opened #232 "Optional Descriptions for Functions"
The fish shell allows defining a description for each function created, and I think it'd be a good idea to also support that here.

[code]

[2017-03-08 19:11] mmstick opened #233 "Alias Doesn't List Aliases"
Seems simply executing `alias` will not list all available aliases.

In addition, seems the `let` command is missing newlines between each variable listed.

[2017-03-08 19:13] mmstick commented on #209
Does this still apply today?

[2017-03-08 19:17] mmstick commented on #195
Syntax is coming along, and for the most part, syntax is very similar to the fish shell, with a few minor differences. I'd imagine that the work involved here will largely be copying the fish syntax file and making a few modifications to it.

[2017-03-08 19:17] mmstick commented on #155
@MovingtoMars Do you still plan on pursuing implementing tilde expansion for other users?

[2017-03-08 19:21] mmstick commented on #210
@msehnout I've created a few issues that covers some areas where Ion is currently lacking. In the coming week I'll try and write documentation for each and every function, and provide a **README.md** for each module. Maybe even adding a few TODOs in the source code to highlight areas that could use improvement.

[2017-03-08 19:32] mmstick commented on #210
@vors Overall, the main goal of Ion is to be a capable shell on all platforms, in addition to being the default shell for Redox. Pretty much nothing is POSIX-compliant these days as standards have evolved over time. Ion should be a modern take on what a shell should be for the modern day, taking inspiration from other existing shells, such as bash and fish -- probably more influence from bash with

[2017-03-08 21:51] msehnout commented on #210
@mmstick Good work! I don't have much time now, but I'd like to implement the fish-like autocompletion in liner, so it can be used on Redox.

[2017-03-08 22:12] vors commented on #210
@mmstick good, thank you for the response!

[2017-03-09 20:47] mmstick commented on #233
This has been resolved

[2017-03-09 20:47] #233 closed

[2017-03-09 21:06] mmstick commented on #135
What syntax do we want here? Currently, I have this in mind:

- Pipe Stderr: `command ^| other_command`
- Pipe Stderr+Stdout: `command &| other_command`
- Redirect Stderr: `command ^> file`
- Redirect Stderr+Stdout: `command &> file`

The other variant is:

- Pipe Stderr: `command 2| other_command`
- Pipe Stderr+Stdout: `command &| other_command`
- Redirect Stderr: `command 2> file`
- Redirect Std

[2017-03-09 22:06] MovingtoMars commented on #155
Well I have an open pull request, but it seems no-one has looked at it in so long that it's out-of-date now. I'll rebase it soon.

[2017-03-10 03:19] jackpot51 commented on #155
Thanks @MovingtoMars!

[2017-03-10 03:20] jackpot51 commented on #135
Good question. I like the idea you have about `^`. Would `|` and `>` still be used for stdout only?

[2017-03-10 03:22] jackpot51 commented on #233
Thanks!

[2017-03-10 05:01] #226 closed

[2017-03-10 05:02] mmstick commented on #135
The `|` and `>` operators would be used for stdout only.

[2017-03-10 08:18] GungnirInd commented on #209
I can't reproduce this with current master on macOS 10.12.4; all arrow keys work as expected.

[2017-03-11 01:26] polymetric1 commented on #135
Personally I like `^|` because it doesn't imply that stdout only is `1|`

[2017-03-11 16:57] mmstick opened #238 "[WIP] Rewrite Shell Control Flow Logic"
Just a heads up that I'm currently attempting to rewrite most of the flow control logic. Major changes will come of this if I succeed, and that will include proper `if` support, `else if`, nested loops, and probably less cloning in the source. It will take a while though.

[2017-03-11 17:09] jackpot51 commented on #238
Sounds great @mmstick !

[2017-03-12 17:14] #238 closed

[2017-03-12 17:15] #225 closed

[2017-03-12 17:17] mmstick commented on #135
I'll start working on this soon. I'll go for the `^|`/`^>` syntax for stderr and `&|`/`&>` for stderr + stdout.

[2017-03-12 18:26] mmstick commented on #210
@vors @msehnout Major changes have happened to the flow control logic, so we could use some testers to try out Ion and report any issues discovered.

[2017-03-12 19:38] msehnout commented on #210
@mmstick So far I only came across this issue, but I'm not sure if it's related to your current work: for instance when I run a while loop and want to stop it with Ctrl+C, I'd expect it to return me back to the running shell instance, but it terminates the whole session.
[code]

[2017-03-12 19:46] mmstick commented on #210
@vors So the problem here is that Ion does not have a means of capturing signals. It's never worked before. Issue #85

[2017-03-12 19:47] mmstick opened #240 "Implement Break Keyword"
We need a method of ending loops early, and that is done by implementing `break`

[2017-03-12 19:49] jeandudey commented on #210
@msehnout it happens too when you close a program with Ctrl+C

[2017-03-12 20:30] mmstick commented on #195
I think we're pretty much ready to start this process now.

[2017-03-12 22:46] mmstick commented on #240
Completed

[2017-03-12 22:46] #240 closed

[2017-03-13 00:30] #119 closed

[2017-03-13 00:32] mmstick commented on #209
@vors Is it okay with you if I close this issue now?

[2017-03-13 02:16] mmstick opened #241 "Handle Unterminated Quotes"
So one of the remaining missing features from the Ion shell is handling unterminated quotes which allow for multi-line strings to be inputted. Basically, check if there is an unterminated quote after reading a line and  read the next line until the quote is terminated. Only after termination is guaranteed should we finally parse and execute the command.

**Status**:
- [x] Implemented for REPL
- [x

[2017-03-13 07:04] vors commented on #209
Sure!

[2017-03-13 07:04] #209 closed

[2017-03-13 19:30] mmstick commented on #135
Almost finished with this work. I should have it pushed later today.

[2017-03-13 20:49] mmstick commented on #135
This is complete and the work has been pushed. You may use `^>` to redirect stderr and `&>` to redirect stderr and stdout.

[2017-03-13 20:49] #135 closed

[2017-03-13 22:09] mmstick opened #242 "List Functions"
When the `fn` keyword is used by itself, it should list functions (indenting them for human-readability) the same as the `alias`, `export`, and `let` keywords.

[2017-03-13 22:20] mmstick commented on #85
Referencing the Redox issue here. https://github.com/redox-os/redox/issues/585

Once Redox has support for signals, we can implement it here.

[2017-03-14 03:37] mmstick opened #243 "Arithmetic Expressions"
In the future, it should be possible to perform arithmetic by containing such expressions within `$((...))`, such as how Bash performs it. As an example:

[code]

[2017-03-14 03:40] mmstick opened #244 "Brace Ranges"
We should enhance the existing brace expansion logic to be capable of expanding to ranges of letters / numbers. However, we should probably rewrite it to handle multiple levels of braces.

[code]

[2017-03-14 03:47] mmstick opened #245 "Substrings & Arrays"
## Planned Syntax:

### Create an Array
[code]

### Convert an Array into a String
[code]

### Convert a String into an Array

[code]

### Take the First Value from an Array
[code]

### Copy an Array
[code]

### Convert Command Output into an Array
[code]

[2017-03-14 04:30] mmstick opened #246 "Associated Arrays (HashMaps)"
Should support associative arrays to compete against Bash.

[2017-03-15 00:01] mmstick opened #247 "Implement Mapfiles"
Unlike associated arrays, these should be stored in vectors, and empty lines should be skipped.

[2017-03-15 00:07] mmstick opened #248 "Builtin Plugins"
Might be a useful feature to enable loading plugins (written in Rust) that add additional builtin commands.

[2017-03-15 02:48] suhr opened #249 "Borrow ideas from other shells"
Like [Oil Shell](http://www.oilshell.org/), [Elvish](https://github.com/elves/elvish) or [Oh](https://github.com/michaelmacinnis/oh).

The list of shells: https://github.com/oilshell/oil/wiki/ExternalResources

Particularly, elvish has many cool features, like piping lists or lambdas or `$@list` syntax (there's even [some](https://elvish.io) documentation).

[2017-03-15 02:53] suhr commented on #245
`echo ${var[3]}`

I disagree. Lists (arrays) should be first-class citizens, there's literally no reason to imitate BASH-like semantics.

[2017-03-15 03:06] mmstick commented on #134
This is now implemented

[2017-03-15 03:06] #134 closed

[2017-03-15 03:07] mmstick commented on #245
@suhr Have any syntax examples?

[2017-03-15 03:13] mmstick commented on #249
If there's specific features that you think would be a great fit, you're free to open an issue for each specific issue. If you would like to contribute, I can help you with that.

[2017-03-15 03:40] suhr commented on #249
This is a meta issue. I'll think about concrete examples though.

[2017-03-15 04:06] suhr commented on #245
Sure: http://www.oilshell.org/blog/2016/11/06.html and http://www.oilshell.org/blog/2017/02/05.html.

So in oil, the third example will be `echo @split(var)[3]`. In rc or es, it will *probably* be

[code]

I like short and explicit approach of oil.

[2017-03-15 19:10] mmstick commented on #245
@suhr We can try for implementing that and other ideas. Will need some serious brainstorming though.

[2017-03-15 19:21] mmstick opened #250 "Execute Function\Builtin in Subshell if in Pipeline"
Useful feature from the oil shell that makes working with pipelines more convenient. Allows for these functions to take inputs from stdin and send outputs to stdout.

[2017-03-15 19:33] mmstick opened #251 "Higher-Order Functions"
Functions should be able to accept other functions as inputs.

[2017-03-16 23:07] mmstick commented on #245
@suhr What do you think of this proposed syntax?

### Creating an array

[code]

### Accessing element from array

[code]

### Copying elements from an array into a new array

[code]

## Concatenate arrays

[code]

### Push/Drop element from array

???

### Pass elements from array

[code]

### Sort array

[code]

### Splitting a string into an array of words

[code]

### Splitting a variable into

[2017-03-16 23:25] jackpot51 commented on #245
I don't like the idea of using @ as shell grammar

[2017-03-16 23:40] mmstick commented on #245
@jackpot51 Primary benefit of the @ character is that it allows you to know that you're working with an array instead of a variable. Here's another example, but using the $ character.

@suhr What do you think of this proposed syntax?

### Creating an array

[code]

### Accessing element from array

[code]

### Copying elements from an array into a new array

[code]

## Concatenate arrays

[code]

[2017-03-17 04:18] suhr commented on #245
[code]

NOTES:

* If arrays are only flat (so [[a b] c] is [a b c]), `let copy = [$array]` can be used. But otherwise, `@` is needed to “unarray” the `array` to create a copy of it. The same is for command arguments.
* Array operations have `@` to differentiate them from variables.
* We don't really need `@concat()`
* Taking a substring is not an array operation

[2017-03-17 08:29] msehnout commented on #248
I'd also appreciate plugins for the prompt. I cannot imagine shell without git plugin any more.

[2017-03-17 16:41] mmstick commented on #245
@suhr
- Substrings will be taken by unicode codepoints, so there will never be boundary issues to worry about.
- I don't see a use case for more than flat arrays in a shell language, but I could be convinced otherwise.
- What if array operations were done like so?

[code]

@jackpot51 What's your opinion on syntax for supporting arrays and array operations?

[2017-03-17 17:57] suhr commented on #245
Do you mean code points or graphems? The first is better than indexing by bytes, but still invalid (graphems can be several code points long), the second is complicated enough to wonder why would we even need this (maybe better to make everything to support json?)

I believe that nested array can be useful, but the only example I have right now is indeed putting json everywhere.

Lack of experienc

[2017-03-17 18:16] mmstick commented on #245
@suhr

Rust handles this quite easily out of the box -- unicode scalar values. The simplest being:

[code]

I think I'd like to use associated arrays for that, but I can aim for multidimensional arrays in addition.

I can have the let keyword define it's own syntax as it does in bash.

[2017-03-17 19:24] andychu commented on #245
Hey thanks for cc'ing me -- I didn't know about Ion until now!  (I've heard of Redox OS but just a little.)

I added Ion to my wiki page here:

https://github.com/oilshell/oil/wiki/ExternalResources

So far I like what I see.  I guess I will explain what I'm doing with Oil and you can feel free to copy it or take inspiration from it.

I am preserving the nice property of bash that you can just put

[2017-03-17 22:47] jackpot51 commented on #245
I am not sure @mmstick. I bash does not do it a sane way, we are free to implement any syntax

[2017-03-17 22:51] mmstick commented on #245
@jackpot51 I think the Oil shell does a pretty good job in this area, so I will likely pursue copying that syntax.

[2017-03-17 23:07] andychu commented on #244
FWIW I just implemented this for Oil, and talk extensively about it here:

http://lists.oilshell.org/pipermail/oil-dev-oilshell.org/2017-March/000034.html

http://lists.oilshell.org/pipermail/oil-dev-oilshell.org/2017-March/000035.html

There is a tiny implementation in Python in core/braces.py in the Oil repo.

I'm not sure how interested you are in all the reverse-engineering stuff, but I though

[2017-03-17 23:09] andychu commented on #250
BTW POSIX sh does this too; it's not Oil-specific.  The general idea is to run a subprogram in what I call a "thunk".  You fork but you don't exec -- you run the interpreter on a subprogram.  The fork gives you your own process with a stdin/stdout/stderr, so that you can participate in the pipeline.

[2017-03-17 23:10] andychu commented on #243
BTW POSIX shell and bash have a pseudo-experssion mode where you can just do:

`$(( (x * y) * 2 ))`

that is leave off the sigils.

[2017-03-17 23:21] andychu commented on #251
Oil has the dichotomy between funcs and procs sort of for this reason.  procs can be run in pipelines, as the other issue mentioned.  funcs can (possibly) accept other functions, return functions, accept and return compound data structures, etc.

I think that procs are mostly a restricted version of funcs.  They take an argv array and return an exit code, and have file descriptors.

It's probably

[2017-03-18 18:51] mmstick opened #252 "Optionally-Typed Function Parameters"
We should allow for types to be specified for parameters in order to ensure that the supplied types meet certain criteria. We need to come up with a syntax for that. By default, everything is assumed to be a variable string.

[2017-03-19 16:10] mmstick commented on #241
Currently working on this

[2017-03-20 00:56] mmstick commented on #244
I'll be working on this soon, along with a rewrite of the existing brace parsing logic to handle multiple levels of braces, and the removal of error checks here in the expansion module as they will no longer be possible, due to catching syntax errors in the StatementSplitter iterator now.

[2017-03-21 16:54] mmstick commented on #241
It's now possible to provide multi-line inputs to the REPL with [this commit](https://github.com/redox-os/ion/commit/90c1fd04b94318ffcad1e25bb3bd9ae8c2ae909a).

[2017-03-21 17:32] mmstick commented on #241
Feature completed

[2017-03-21 17:32] #241 closed

[2017-03-22 15:56] mmstick opened #254 "Shell Expansion Expansion"
This issue will track the progress of the shell expansion rewrite that I am now working on.

- [x] Rewrite the Word Iterator
  - [x] Array
  - [x] Array Variable
  - [x] ArrayMethod
  - [x] Brace
  - [x] Variable
  - [x] ArrayVariable
  - [x] StringMethod
  - [x] Process
  - [x] Array Process
  - [x] Tilde
  - [x] Normal
  - [x] Whitespace
  - [x] Handle Quoting
- [x] Rewrite Brace Expansion
  - [

[2017-03-22 17:42] mmstick commented on #244
Closing as this issue will be tracked in issue #254

[2017-03-22 17:42] #244 closed

[2017-03-24 02:49] mmstick commented on #254
I may push all the changes that I've made tomorrow. I have a good working base that is now more functional than what Ion currently offers. I just need to fix and add more tests and it will be ready, then I can continue working on implementing the rest of the unimplemented features.

[2017-03-24 16:36] mmstick commented on #254
So the work was merged and seems to be doing well. I will be working on gracefully handling syntax errors, fixing tests and adding new ones before my next set of changes.

[2017-03-24 23:12] mmstick commented on #244
This is now implemented

[2017-03-24 23:34] andychu commented on #254
Nice!

What about globbing?  If I were to design a shell without compatibility, I would probably get rid of the globbing after substitution.  A file named `*.py` on the file system can trick you into doing something you didn't want.

Oil will probably have a mode to disable this, so only unquoted literals like `echo *.py` are globbed.  For the rarer dynamic use cases, there could be a glob type th

[2017-03-25 00:41] mmstick commented on #254
@andychu We have globbing being implemented with the [official glob crate from the Rust team](https://doc.rust-lang.org/glob/glob/index.html) at the moment, and it currently happens after the expansions performed in this module so there won't be any syntax conflicts. I need to improve it though as it doesn't work correctly in for loops yet -- the returned expression is represented as a single stri

[2017-03-25 02:14] mmstick commented on #254
[This commit](https://github.com/redox-os/ion/commit/ef9609053b6f00633d53a475d20c423dd3edf43d) fixes the glob expansion for for loops.

[2017-03-25 02:56] jackpot51 commented on #254
Cool!

[2017-03-29 01:02] mmstick opened #255 "Move Let / Export Into Grammar"
This is required in order to move forward with arrays as first class citizens in the shell, because it is vital to not expand the let statement before parsing it.

[code]

It is also required in order to pass complex arithmetic expressions and have the assignment parser distinguish between an arithmetic expression and regular expression, in the event that we would like to gain support for such a f

[2017-03-29 15:38] mmstick commented on #245
@andychu So what happens when you call $ on an array directly?

[2017-03-29 16:03] andychu commented on #245
I haven't implemented it yet, but in Oil I think that should be a runtime error.

It's possible that `$array` could implicitly join it with IFS, and `@str` could split it with IFS, but I prefer an explicit `$join()` and `@split()` for readability.  I don't believe it's a common use case at the interactive prompt.

Shells tend to avoid runtime errors and keep plugging along, which I think is bad be

[2017-03-29 16:21] andychu commented on #245
Oh I guess the more direct comparison is doing

[code]

in bash.  Bash and mksh have the bizarre behavior where $a is equivalent fo ${a[0]}.

Likewise, if you have:

[code]

It just ignores the `[@]`, which normally means "array".  This design seems totally wrong and just an accident of history.   Imagine if in Python `a=[1 2 3]; print a` showed you the first element.

[2017-03-29 16:51] mmstick commented on #245
@andychu I figured as much, as this is how I currently have it working in my local copy. I'll have some basic array support available soon.

[2017-03-30 23:13] mmstick commented on #254
Arrays are now implemented, and all that's left to complete the array-related work is to implement the array splicing syntax, and the ArrayToString and StringToArray syntax. The projects README has been updated to display the current features.

One downside to implementing the array support is that the PROMPT had to be modified to remove the coloring, as it conflicts with the array syntax. We migh

[2017-03-30 23:17] jackpot51 commented on #254
Why does it conflict with a colored prompt?

[2017-03-30 23:20] mmstick commented on #254
@jackpot The colored prompt uses ] and [ characters which the shell is currently wired to assume they are being used to create arrays. One fix would be to make an exception for those particular combinations of characters so that the shell doesn't interpret them as array syntax.

[2017-03-31 01:48] andychu commented on #254
Note that using `[]` for arrays also potentially conflicts with globs like `*.[ch]`.

There are a couple ways to handle this in Oil, but I haven't implemented it yet.

It's possible to use `()` like bash, but I've decided against that.

[2017-03-31 01:52] jackpot51 commented on #254
That sounds like a really bad regression @mmstick

[2017-03-31 02:00] amw-zero commented on #242
I opened a PR for this. Would love some feedback!

[2017-03-31 02:44] mmstick commented on #254
@jackpot51 Easily fixed though

[2017-03-31 02:50] mmstick commented on #254
@jackpot51 https://github.com/redox-os/ion/commit/5ff6f0139e09f1969018bd5dfcca61c1da3a2c39 fixes the prompt by wrapping the brackets in single quotes.

[2017-03-31 02:58] mmstick opened #257 "Implement Arithmetic Expressions"
We would like to support inline arithmetic expressions in the Ion shell, like so:

[code]

One should be able to omit or retain the $ sigil when calling for variables. An error should be returned if a variable is not a number. We should be able to directly hook the expression into the existing calc built in command.

[2017-03-31 04:20] mmstick commented on #242
Closing issue as it's now resolved

[2017-03-31 04:20] #242 closed

[2017-03-31 04:34] mmstick opened #258 "Carefully Glob What Needs Globbing"
Globbing should happen during shell expansion, instead of after. To do this, only normal words that have valid globbing signatures should be expanded in the shell expansion module. Some work may have to be done to check whether a bracket belongs to an array or a glob.

[2017-04-01 05:03] mmstick commented on #254
With the last two commits, it is now possible to slice arrays by ID and range. Therefore, the following is now valid syntax:

[code]

[2017-04-01 05:05] #245 closed

[2017-04-01 05:06] mmstick opened #259 "Implement Substring Handling"
Variables will support substring handling via index syntax, like so:

[code]

[2017-04-01 05:18] mmstick commented on #254
In other news, seems we are now at 4400 lines of Rust source code in this project.

[2017-04-06 02:52] jackpot51 opened #260 "Add `eval`"
It would be useful to have something like `eval` in bash, which can take arguments and run them as though they were entered by the user

Example: `eval $(resize)`, which will run the commands from `resize` in the current shell:
[code]

[2017-04-06 21:25] mmstick commented on #254
With array and string method syntax now complete, I will close this.

[2017-04-06 21:25] #254 closed

[2017-04-06 21:32] mmstick opened #261 "Allow Expressions and Expansions In Array Indexes"
Would like to support expressions and expansions in array syntax. Unsure on what syntax to pursue though. If we are to use the arithmetic expressions parser for indexes, it could look something like this:

[code]
Or we could just use the standard parser and have them interpreted the same way as everything else.

[2017-04-06 21:45] mmstick opened #262 "Implement Braced Arrays"
As there is a braced variant of string variables, it would be nice to also have a braced variant for arrays:

[code]

[2017-04-06 22:53] mmstick opened #263 "Improve Range Syntax With Negative Values for Taking From the End"
To further improve the capabilities of the range syntax, we can expand on that to support the following syntax, where a negative value indicates to count and take values from the end of an array, versus from the beginning

[code]

[2017-04-07 19:38] mmstick commented on #259
This is now complete, as substring handling has been implemented for variables, string methods, and string-based command substitutions.

[2017-04-07 19:38] #259 closed

[2017-04-08 04:43] mmstick opened #264 "Goal: Soundly Defeat Bash in Performance"
There are a few areas in the shell that could use some optimizations to better compete with other established shells. Here are some optimizations that I can think of that would be beneficial and not too complicated to implement.

- [ ] Implement echo, test, and other essential commands.

- [ ] When creating a new Job structure, the structure should contain both the original arguments, set to priva

[2017-04-08 17:25] mmstick opened #265 "Implement Continue Keyword"
Currently working on adding this at the moment, and fixing an issue in the flow logic.

[2017-04-08 17:46] #265 closed

[2017-04-08 21:02] mmstick commented on #260
Now implemented

[2017-04-08 21:02] #260 closed

[2017-04-08 21:23] mmstick commented on #248
I've a few ideas for what we could do in regards to plugins. We could have a directory for Ion at **~/.config/ion/**, and in this directory we can have a **plugins** directory. Within the **plugins** directory we could have a **prompts**, **builtins**, and **syntax** directory that each would store dynamic Rust libraries.

## Bulitin Plugins

When the shell is launched, libraries in the builtins d

[2017-04-08 22:31] jackpot51 commented on #260
Thanks very much!

[2017-04-10 18:04] ZSarver commented on #263
Forgive my ignorance, but what's the rationale on making @array[-1] the next to last value instead of the last value?

[2017-04-10 18:15] mmstick commented on #263
@ZSarver There isn't much rationale to the syntax here yet -- it's largely just in idea stage. My thinking was that it might be confusing that a positive 0 is the first value, but a negative 1 is the last value.

[2017-04-10 19:11] ametisf commented on #263
IMO negative zero would be super confusing.

[2017-04-10 19:19] simondesloges commented on #263
[code]
Weird... Souldn't `@array[..-1]` take all but the two last values, since -1 is next to last and `..` is exclusive range syntax?

If it can help, here are some exemples of related syntactic sugar from other programming languages:

In Python, you can index with negative values. I don't think it's all that confusing.
[code]

In Dlang, when indexing or slicing, `$` is used as a shorthand for th

[2017-04-10 19:21] ZSarver commented on #263
I have to agree with @ametisf since mathematically -0 = 0. My personal preference would be for @array[-1] to be the last value. That's, for example, what Python does. (Yes, yes, I know I should really just start using Python 3 already.)

`Python 2.7.11
Type "help", "copyright", "credits" or "license" for more information.

4

`

[2017-04-10 19:36] mmstick commented on #263
@ZSarver Computers do actually have a concept of signed zeros, where the zero has the negative bit set. That said, we can go for -1 being the last variable if there are no objections to that.

[2017-04-10 19:46] ZSarver commented on #263
@mmstick Sorry, I deleted my comment because @simondesloges said everything I wanted to only more and better. Just to throw in my two cents, I think it's irrelevant whether zero can have the negative bit set. I think it would be confusing to users.

[2017-04-10 20:18] mmstick commented on #263
If anyone would like to implement this feature, I can point you in the right direction. I'm busy with a lot of other things at the moment so my constant stream of updates to Ion will be paused for a bit.

[2017-04-10 22:39] ZSarver commented on #263
@mmstick I'd be interested, but I am both busy and something of a newbie rustacean. I can't make any promises as to when I'd be able to get to it.

[2017-04-10 23:02] mmstick commented on #263
@ZSarver Basically, you will:

1. Start [here](https://github.com/redox-os/ion/blob/master/src/parser/shell_expand/ranges.rs#L64) and modify the `parse::<usize>()` calls to `parse::<isize>()`
2. Change [this enum](https://github.com/redox-os/ion/blob/master/src/parser/shell_expand/words.rs#L28) to offer a new `FromEnd(usize)` variant
3. Do the same [here](https://github.com/redox-os/ion/blob/maste

[2017-04-15 18:38] jsalzbergedu commented on #264
This sounds _really_ cool and it is something I would be interested in doing, but I'm kind of a newb. Is there any reading that I should do first or any direction you had in mind for this?

[2017-04-15 19:42] mmstick commented on #264
@jsalzbergedu No reading that I know of. Basically, the parser in the shell must convert given commands into a collection of `Statements` before it can execute them, and this process involves verification that the syntax is valid.

We could write this data directly to the disk in a cache directory, with the filename of each cached script being a hash of the file. How much of an improvement this wo

[2017-04-15 19:51] jsalzbergedu commented on #264
Thanks, I'll see if I can implement that but first I'll see if I can help w/ getting a native echo and test

[2017-04-19 10:18] Maaarcocr commented on #232
I would like to help on this, would it be possible to have a bit more information about this? (For example, the code that should be changed).

[2017-04-19 12:13] mmstick commented on #232
A description field needs to be added [here](https://github.com/redox-os/ion/blob/master/src/flow_control.rs#L32), parsed [here](https://github.com/redox-os/ion/blob/master/src/parser/grammar.rustpeg#L73), and then displayed [here](https://github.com/redox-os/ion/blob/master/src/builtins/functions.rs#L6).

[2017-04-19 16:13] Maaarcocr commented on #232
Any ideas on the grammar? I feel like the approach used for fish would look a bit weird.
Maybe something like a documentation comment straight before the function declaration? Or maybe at the end of it?

[2017-04-19 19:05] mmstick commented on #232
Thanks. Closing this now.

[2017-04-19 19:05] #232 closed

[2017-04-19 19:20] mmstick commented on #264
The `echo` command is now builtin and `test` is on the way. Times have dropped down to 15 ms for that fibonacci script, instead of 33 ms as it was before.

[2017-04-20 22:35] mmstick commented on #264
We are now many times faster than bash, and on the same level as Ion, so I think we are good here.

[2017-04-20 22:35] #264 closed

[2017-04-21 22:24] mmstick commented on #113
This has been implemented. It was actually very trivial to implement.

[2017-04-21 22:24] #113 closed

[2017-04-22 20:51] fbruetting opened #270 "BSD support"
With Ion supporting Linux and Redox, it would be nice if it would work on the BSDs, too – most importantly of course FreeBSD! :)

[2017-04-22 20:55] fbruetting commented on #104
@mmstick Why does Ion and all other shells save their config files in ~ directly, and not in .config/ or .local/ like almost all other programs? Sorry if this question is nooby, but I wondered why this is since… ever. ;)

[2017-04-22 20:56] mmstick commented on #270
It should already be working on BSDs, theoretically, as BSDs also use the same unix modules.

[2017-04-22 21:01] mmstick commented on #104
Basically, it is planned to do this, but no one has written the code to do
this yet.

On Sat, Apr 22, 2017, 4:55 PM Frank <notifications@github.com> wrote:

[2017-04-26 19:00] mmstick opened #272 "Implement Set Command"
We need to implement basic support for controlling shell parameters within the interpreter. I'd like to see a flags field that's either a u8 or u16, depending on how many flags we want to support. At the very least, we need to support the `-e` flag at the moment.

It shouldn't be too hard. Just implement it as a builtin command, then add some associated logic in the **FlowLogic** to check certain

[2017-04-26 19:07] mmstick opened #273 "Implement Match / Switch / Case Flow Keyword"
Implementing this will require a bit of studying of the existing **FlowLogic** methods. Shouldn't be too hard though. The hardest part should be determining the syntax that we want to go with.

[code]

We could introduce two new statement types: Match and MatchArm. The statement splitter should be able to split upon detecting a complete match arm.

[2017-04-26 19:32] mmstick opened #274 "Make semicolons after `else` optional"
Currently, if statements require that a semicolon comes after the `else`.

[code]

We can make this more ergonomic by having the **StatementSplitter** split when detecting a space after reading "else".

[2017-04-27 18:11] #272 closed

[2017-04-27 18:24] mmstick commented on #274
Resolved

[2017-04-27 18:24] #274 closed

[2017-04-29 16:59] jackpot51 opened #275 "Update to peg-syntax-ext 0.5.2"
In order to support the latest nightly, ion must be updated to use peg-syntax-ext 0.5.2

[2017-04-29 19:53] mmstick commented on #275
It's now updated.

[2017-04-29 19:53] #275 closed

[2017-04-30 01:14] kpcyrd opened #276 "Publish src/shell_expand/ as crate"
I'm very interested in processing a string for something that is suiteable for the permutate crate.

I've tried to reimplement the subset of features I need (expand_braces) and ended up with something buggy half-working. Could you consider publishing the shell expander as a crate I can use in my program :) ?

[2017-04-30 01:31] mmstick commented on #276
I can investigate that. Just know that things here could possibly change. Do you want all of the shell expansion module?

[2017-04-30 07:37] kpcyrd commented on #276
I'm fine with that. I'm only interested in brace expansion, so things like `test{,a{b,c}}` and `test{1..20}{a..z}`.

The important bit is that I need an iterator or data I can feed into the permutate crate myself, as I might not be able to keep all permutations in ram :)

[2017-04-30 15:40] Maaarcocr commented on #257
Could I work on this? (I cannot promise by when I will finish this, because I'm revising for exams that will end on the 11th of May).
I was thinking of changing the way assignments are parsed (right now it's done in rust), by completely implement them in peg and then also support arithmetic expressions.
Does it sounds okay?

[2017-04-30 16:01] mmstick commented on #257
I'm actually probably going to move towards eliminating peg entirely. It demands a nightly compiler to use, the returned results have to be heap allocated, and the error messages aren't what we'd want for a shell. The RHS of assignments has to go through the shell expansion module anyway.

As for this feature in particular, most of what needs to be done is just hook the logic into the existing cal

[2017-04-30 16:21] mmstick commented on #276
If brace expansion is all you want, I'd probably just copy the words.rs module in there and remove all the logic for everything that isn't Normal, Whitespace, or Brace, then modify the mod.rs module in shell_expand to just account for the brace logic. Seems it might be a little difficult to separate the shell expansion logic at this time as a recent change introduced a dependency on a module speci

[2017-04-30 17:38] Maaarcocr commented on #257
Is the code here: https://github.com/redox-os/ion/blob/5ff6f0139e09f1969018bd5dfcca61c1da3a2c39/src/parser/assignments.rs#L34 still usable?
So, just to be sure I've understood, I would need to check when the RHS of an assignment is an arithmetic expressions and then use calc?

[2017-04-30 19:32] mmstick commented on #257
I don't think we will have the let keyword check for mathematical expressions on the RHS. That would increase runtime costs in most cases where it's not.

Instead, mathematical expressions will go within $(()) for inline arithmetic the same as other shells.

[2017-04-30 22:42] mmstick opened #277 "Eliminate Dependency on Nightly Compiler"
I see no reason for us to continue using and relying upon a nightly compiler for the Ion project. Stable has everything we need. This will require a few changes. The hardest will be getting rid of the need for the nightly requirement with PEG right now. I'd like to target the latest Rust 1.17 release as a minimum target for now.

[2017-05-01 00:40] kevinmehall commented on #277
rust-peg [no longer requires nightly](https://github.com/kevinmehall/rust-peg#with-a-build-script).

[2017-05-01 01:34] jackpot51 commented on #257
Awesome @mmstick, that makes more sense

[2017-05-01 01:56] mmstick commented on #257
Updated the OP to make it more clear as to what we are trying to do at the moment in regards with arithmetic expressions. Forgot to remove the let arithmetic portion which I decided against.

[2017-05-01 12:13] mmstick commented on #277
@kevinmehall Seems the non-nightly usage variant would conflict with the `build.rs` that we are already using.

[2017-05-01 15:22] kevinmehall commented on #277
You can add the `extern crate peg;` and `peg::cargo_build` lines to the existing build.rs.

[2017-05-01 15:54] mmstick commented on #277
One dependency on nightly down. Two more to go. Next is removing the usage of the box keyword.

[2017-05-01 16:01] mmstick commented on #277
Box syntax usage is now eliminated. Only one left.

[2017-05-01 16:24] mmstick commented on #277
Ion now builds with the 1.17.0 compiler.

[2017-05-01 16:24] #277 closed

[2017-05-01 18:17] mmstick commented on #243
Closing duplicate issue

[2017-05-01 18:17] #243 closed

[2017-05-09 10:07] z3ntu opened #279 "Tag new version numbers in git?"
I have just now created Arch Linux packages for ion and it works great! Found [here (ion)](https://aur.archlinux.org/packages/ion/) and [here (ion-git)](https://aur.archlinux.org/packages/ion-git/).

It would be easier for me if the releases (eg 1.0.1) would be tagged as I could then just specify the version number instead of finding out the commit (eg fd9389f).

Thanks!

[2017-05-11 04:34] ids1024 commented on #273
Would it create parsing ambiguities to remove the `end` from the individual cases? Since we presumably don't wan't to allow fall-through, the `end` doesn't add anything.

[2017-05-11 04:42] jackpot51 opened #280 "Panic when piping without command"
If you run `< a` in Ion, it will panic. Other similar commands may panic.

[2017-05-11 11:49] robinvd commented on #263
@mmstick Most computers use [Two's complement](https://en.wikipedia.org/wiki/Two%27s_complement) which does not have the concept of signed 0's.

[2017-05-11 13:29] mmstick commented on #273
I think we can remove the `end` keyword. Just need to find out what match arm syntax we want to use. My example syntax would be a tiny bit difficult to implement. Perhaps we could use `case VAL => EXPR`?

[2017-05-11 14:29] jackpot51 commented on #273
I like case VAL, then either a newline or a semicolon, then EXPR, then end (since case is a block and so far all blocks end with end)

[2017-05-12 22:22] mmstick commented on #280
I think the thing to do here is merely checking if the first word passed as an argument to the `StatementSplitter` is a command or one of these invalid operators.

[2017-05-12 23:08] mmstick commented on #280
Issue now resolved.

[2017-05-12 23:08] #280 closed

[2017-05-13 00:46] jackpot51 commented on #279
@mmstick tagged the latest release (1.0.2), and will probably tag future releases

[2017-05-13 06:48] aeosynth opened #281 "alias weirdness"
[code]

using the 1.0.2 github release, `rustc 1.17.0 (56124baa9 2017-04-24)`, first time user

[2017-05-13 08:26] z3ntu commented on #279
Awesome! Thank you very much.

[2017-05-13 08:26] #279 closed

[2017-05-16 17:44] mmstick commented on #281
I'll look into this shortly.

[2017-05-16 17:47] mmstick commented on #281
I'll have the fix uploaded within a few minutes.

[2017-05-16 18:10] mmstick commented on #281
The fix has been pushed. The command field simply wasn't being changed to reflect the command issued in the alias.

[2017-05-16 18:10] #281 closed

[2017-05-17 04:57] aeosynth opened #282 "request: implicit cd"
a nice feature from fish shell is 'implicit cd', where simply typing a path to a directory will automatically `cd` there.

[2017-05-17 10:49] aeosynth opened #283 "autosuggestion creates new lines"
if i enter a command which exceeds a single line, re-typing the command causes the auto suggest to create new lines.

    james:/home/james# echo xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

![bug](http://i.imgur.com/fZBqSfz.png)

[2017-05-19 15:05] aeosynth opened #284 "tab completion doesn't escape filenames"
[code]

[2017-05-19 17:08] mmstick commented on #283
This should be filed against the liner crate, as Ion does not have control over the readline functionality provided my liner.

[2017-05-19 17:09] mmstick commented on #284
Tab completion is currently exclusively handled by the liner crate, so we have no means of influencing how tab completions are expanded.

[2017-05-21 14:12] myfreeweb commented on #270
It certainly works on FreeBSD after my tiny PR to termion landed: https://github.com/ticki/termion/pull/98

[2017-05-21 23:09] fbruetting commented on #270
If this is also true for ion, would someone please advertise this on the GitHub front page, then we could close this. :)

[2017-05-21 23:11] myfreeweb commented on #270
I meant ion, what else could "it" refer to? ;)

+1 to updating the readme.

[2017-05-21 23:13] fbruetting commented on #270
I was a bit confused, how ion could be supported by a patch for termion. But I now think that this was a termion problem, but ion ran on BSD even before… :P

[2017-05-21 23:15] myfreeweb commented on #270
Maybe it ran before the `TIOCGWINSZ` usage was added.

[2017-05-25 18:37] gyscos commented on #284
It currenly escape spaces, but not quotes or parenthesis.

[2017-05-25 18:40] mmstick commented on #284
Once the liner crate offers a mechanism to provide a callback so that we can influence tab completions, i'll be able to fix this. This is basically the same issue that we have with tilde home expansions.

[2017-05-26 19:36] huntergoldstein commented on #284
What about writing a `Completer` that uses a `FilenameCompleter` internally and escapes the filenames? It seems like that could be done instead of using a `FilenameCompleter` alone.

[2017-05-26 19:42] mmstick commented on #284
I'll look into it, and if it's feasible, I'll probably have a patch out soon.

[2017-05-26 20:28] mmstick commented on #284
So the main issue with the `FilenameCompleter` is that in order for Ion to provide completions for files in directories, the `completions` method would need access to the Ion shell's `DirectoryStack` and `Variables` fields. So, I'll need to write a different kind of completer.

[2017-05-26 20:50] huntergoldstein commented on #284
Is there somewhere beyond [here in `Shell::readln`](https://github.com/redox-os/ion/blob/5614d77dd26fa6f7d4329f32a7df2dbf3ff421a6/src/shell/mod.rs#L106) where the completer is built up?

[2017-05-26 20:59] mmstick commented on #284
So the `FilenameCompleter` will take a directory, and then read that directory and generate a list of files within the `completions()` method. One particular enhacement that we need to see done would be also escaping parenthesis, in addition to spaces.

Now, regarding home directory expansions specifically, you could probably expand that before passing it into a `FilenameCompleter`.

[2017-05-30 11:43] MovingtoMars commented on #284
@mmstick yeah, I'd definitely expand all the `~`s and variables and stuff before passing the path to the filename completer.

Offering some options for the escaping problem here:
1. Just escape directly in `FilenameCompleter`. Probably easiest.
Could have option like
[code]

2. Create a `struct<T: Completer> EscapingCompleter<T> { inner: T }`
[code]

3. Provide a callback in `FilenameCompleter.com

[2017-05-30 11:50] MovingtoMars commented on #263
@robinvd  I believe @mmstick is referring to floats, which do negative 0's, rather than integers.

However, I think -1 should be the last, not the next to last element.

[2017-05-30 11:52] MovingtoMars commented on #195
How about syntax highlighting when using ion interactively in the terminal? Could be an interesting idea to explore.

[2017-05-31 13:44] mmstick commented on #284
I'll try out the second option soon.

[2017-05-31 14:08] mmstick commented on #284
This issue is now resolved.

[2017-05-31 14:08] #284 closed

[2017-06-03 04:36] smarts opened #285 "Windows Support"
**Reproduction**: `cargo build`

**Expected behavior**: a successful build

**Actual behavior**:
[code]

**Build information**:
 - rustc 1.19.0-nightly (107bd67ef 2017-06-02)
 - i didn't clone the repo, just downloaded a zip file of `master` @ 29497ada7fcf656c30da89d9689769163913fdf1

**Misc**: OS is Windows 8 Pro

[2017-06-03 06:01] ideasman42 opened #286 "Ctrl-C exits instead of clearing prompt"
**Reproduction**: Type in one or more  characters, press Ctrl-C.

**Expected behavior**: The text in the prompt should be cleared, but the shell should not exit (Ctrl-D is typically used for this).

Note that while its arguable what should happen in this case, bash/zsh/fish all clear the prompt, and since Ctrl-D key exists for exiting, I think it would be nice to support this behavior too.

**Actu

[2017-06-04 00:34] chetgurevitch commented on #286
This is known. Signal handling hasn't been implemented yet.

[2017-06-04 01:59] est31 opened #287 "Implement reverse search"
Bash has a functionality to search in the history, triggered by the ctrl-r key combination.

I've seen issue #3 filed about this, but it its closed and the functionality is still not implemented yet.

[2017-06-04 02:17] mmstick commented on #287
This should be filed against the liner crate. It performs all of the history-related work.

[2017-06-04 02:54] est31 opened #288 "Example in README doesn't work"
See this example in the README: https://github.com/redox-os/ion#using-variables
since then, ion seems to have adopted case sensitive behaviour, `echo $A:$B` only outputs `:`.

[2017-06-04 02:59] mmstick commented on #288
It's always been case sensitive. Just an error in the README.

[2017-06-04 09:32] jwbowen opened #289 "Possible enhancement: support `set -o vi`"
`set -o vi` is a way of life for me in shells. It would be neat if ion offered it. I'm also guessing that this would be a rather large undertaking and one of quite low priority.

[2017-06-06 22:19] huntergoldstein opened #291 "Filenames with a complete set of parentheses are not expanded properly"
**Reproduction**: Create a filename such as `foo()` and attempt to refer to it using escaped parentheses.

**Expected behavior**: The following completes with no output, implying no error has occurred.
[code]
**Actual behavior**:
[code]

**Build information**:
- `rustc -V => rustc 1.19.0-nightly (14f30da61 2017-05-21)`
- `get rev-parse HEAD => 3352a0cb8c67da3aff135ad7849b366d35bcd407`

**Blocking/

[2017-06-06 23:03] #291 closed

[2017-06-10 17:44] z3ntu opened #293 "This ⸻ unicode ⸻ character ⸻ makes ⸻ weird ⸻ things ⸻ happen"
I copied the title from https://github.com/fish-shell/fish-shell/issues/2652 as it also applies here.

**Reproduction**: Enter/paste the long dash character in the shell
**Expected behavior**: The cursor should "align" with the end of the character
**Actual behavior**: It doesn't
**Build information**: Arch Linux
**Misc**: Using the Konsole terminal emulator on KDE Plasma.

But props for handling

[2017-06-10 18:08] mmstick commented on #293
Possibly another liner issue?

[2017-06-10 18:14] mmstick commented on #293
You may want to open a bug with the [liner crate](https://github.com/MovingtoMars/liner/). Liner handles the rendering of text.

[2017-06-11 20:48] smarts commented on #91
see #285

[2017-06-12 05:04] MovingtoMars commented on #283
This is fixed in liner 0.2.0.

[2017-06-12 05:07] MovingtoMars commented on #289
Liner actually supports vi mode. It's just not exposed in Ion.

All that needs to be done is for Ion to handle the `set -o` command and change `liner::Context.KeyBindings` appropriately.

[2017-06-12 05:21] MovingtoMars commented on #286
In GNU readline, when a CTRL+C is entered, I believe it returns from the `readline()` function just like liner does.

I'm pretty sure it's the responsibility of the shell to call `readline()` again after receiving `io::ErrorKind::Interrupted`.

[2017-06-12 14:20] jwbowen commented on #289
Ah, I did not know that about `Liner`. I'll poke around and see if I might have the time to add handling for `set -o`.

(But if someone else wants to make this enhancement go ahead, as I'm new to Rust and don't know if I'll actually have the time to allocate to it.)

[2017-06-12 16:48] mmstick commented on #289
Adding support should be very simple. It's largely a matter of adding the o flag to set built-in command that sets it's associated bit flag in the shell, and then adding a check for that in readline to select to correct binding.

[2017-06-13 03:26] huntergoldstein commented on #263
Is there any update on this? I took a stab at it (some progress in [my fork's master](https://github.com/huntergoldstein/ion)). Two notes:
- There are now three enums that are, essentially, named `Index`; this is fairly confusing and perhaps can be consolidated to `Selector` (currently `Index`) and `Index` (currently `IndexStart` and `IndexEnd`).
- Many of the code-sites modified have very similar

[2017-06-13 03:51] mmstick commented on #263
@huntergoldstein No one's made an attempt at this yet. Just waiting for a good PR to be submitted. If you feel that you have a good solution, you're free to open a PR (even if it's WIP). It's okay if there's some confusion with the names at the moment. That's a problem that's easily resolved with a tiny bit of refactoring.

[2017-06-13 21:04] huntergoldstein opened #296 "Newline and tab characters do not correctly expand when escaped"
**Reproduction**: Attempt to have Ion print out a newline or a tab as part of an escaped character in a string.

**Expected behavior**:
[code]

**Actual behavior**:
[code]

**Build information**:
- `rustc -V`: `rustc 1.19.0-nightly (cfb5debbc 2017-06-12)`
- Tested on `3352a0cb` and `30deea35`

**Blocking/related**:
- Potentially related to #292 but the first listed commit predates the PR

[2017-06-14 22:32] #258 closed

[2017-06-14 22:35] mmstick commented on #296
Expected behavior should actually be:

[code]

It should be simple to fix this.

[2017-06-15 01:11] huntergoldstein commented on #296
Apparently `zsh`s `echo` always interprets control sequences, regardless of flags.

What about:
[code]
The expected output is
[code]
Right now Ion outputs
[code]

[2017-06-15 02:24] mmstick commented on #296
We implement the -e argument with our implementation of echo as there would be a performance penalty in having to check echo arguments for escapes otherwise. The reason this is an issue right now is just because the parser currently removes the backslash when it's corresponding character is not a valid character for shell interpretation.

[2017-06-15 02:28] #263 closed

[2017-06-15 13:31] mgmoens commented on #257
Doesn't something similiar already work with calc? It would be `calc $b * ($h * $h)`.
Of course, not using $ everytime you use a variable would be better.
Or do you want $(()) to get calculated as a mathematical expression, regardless of the command? I mean something like `scrot -d $(( b * (h * h) ))` (scrot is just the first program that accepts a number that popped into my head honestly).

[2017-06-15 13:55] mgmoens commented on #132
Can someone tell me where |, > etc. are parsed? I'd like to try this if I know where those special characters get parsed. I've been looking around in the shell folder, but I think I'm looking to deep in the rabbit hole.

[2017-06-15 14:30] mmstick commented on #257
The problem with $() is that that it calls a costly sub-process. $(()) would instead happen within our parser and avoid the cost of a sub-process.

[2017-06-15 14:34] mmstick commented on #132
They are parsed [here](https://github.com/redox-os/ion/blob/master/src/parser/pipelines.rs#L198) and [here](https://github.com/redox-os/ion/blob/master/src/parser/pipelines.rs#L172) in the pipelines module. At some point, I'd like to rewrite this module. Haven't gotten around to it though.

[2017-06-15 17:17] mallochine opened #299 "use HISTFILE instead of HISTORY_FILE"
There's probably some context I'm missing here, but shouldn't the shell be using "HISTFILE" instead of "HISTORY_FILE"? HISTFILE is the standard bash variable:

https://www.gnu.org/software/bash/manual/html_node/Bash-Variables.html

[2017-06-15 17:24] mallochine opened #300 ">> not implemented?"
I was trying out:

"echo asdf >> asdf"

and this didn't work? "wc -l  asdf" doesn't give me any lines.

[2017-06-15 17:40] polymetric1 commented on #300
did you actually look at the file? (`cat asdf`) maybe it's `wc` that's not working.

[2017-06-15 17:41] mallochine opened #301 "bash-compatible functions?"
Hi,

Was trying out ion on some of my bash stuff. Probably intentional....but do we have any plans to support bash-style functions? Just helps with backward-compatibility.

test code:

[code]

[2017-06-15 17:49] mmstick commented on #300
That's odd. It would seem that redirection is somehow broken?

[2017-06-15 17:52] huntergoldstein commented on #300
It might be a problem with `echo`; the following works as expected.
[code]

[2017-06-15 17:53] mallochine commented on #300
[code]

[2017-06-15 17:53] mmstick commented on #300
That would make sense. Builtin commands don't support redirection or piping yet.

[2017-06-15 17:53] mallochine commented on #300
oh ok yeah, cat works fine. echo doesn't.

[2017-06-15 17:54] mmstick commented on #300
I think we should instead execute `/usr/bin/bash` when redirection/piping is required.

[2017-06-15 17:57] mmstick commented on #299
Original plan has been to not follow Bash for the sake of following Bash. HISTORY_FILE is more descriptive than HISTFILE

[2017-06-15 18:05] mallochine commented on #299
hm I see. Though if you want to see adoption of ion from bash, backwards-compatibility is super important.

For instance, I wrote a spell checker in python that uses the $HISTFILE environment variable. This script will break on 'ion'.

But from a business perspective...anyway I suggest reading this for why backwards-compatibility is important: https://www.joelonsoftware.com/2000/05/24/strategy-let

[2017-06-15 18:12] huntergoldstein commented on #300
How would that work? Doesn't that defeat the purpose of writing a shell? Am I missing something?

[2017-06-15 18:36] mmstick commented on #300
This is actually what Ion does at the moment when it detects that piping is required. It executes the external echo command rather than the builtin echo command. There's just no check to also see if redirection is required.

[2017-06-15 18:42] mmstick commented on #300
Try again with the latest master. This issue should be fixed now.

[2017-06-15 18:44] mmstick commented on #299
We aren't competing with Dash/Bash though. Ion is the default shell of RedoxOS, and if you want to use it on Linux or some other platform, then that's up to your discretion.

[2017-06-15 18:47] mmstick commented on #301
The problem with this is that functions in Ion are argument-checked to ensure that the correct number of arguments were supplied, and that's not the only place where syntax is very different. Arguments are contained within arrays, not variables.

[2017-06-15 19:00] mgmoens commented on #299
This might sound kind of idiotic, but wouldn't having a $HISTORY var containing the name of the variable containing the history file be a fix? It's descriptive and people can adopt it to whatever thing they want it to be compatible with.

[2017-06-15 19:01] huntergoldstein commented on #300
WFM on master now; sorry, I misunderstood your comment to mean _any_ time redirection / piping is required versus just for `echo`.

[2017-06-15 19:40] #300 closed

[2017-06-15 20:14] mmstick commented on #286
This issue is now resolved.

[2017-06-15 20:14] #286 closed

[2017-06-15 20:32] z3ntu commented on #286
Actually it's not fixed.
I just installed the newest version, ran `yes` and then Ctrl+C and I landed back in my fish shell. Ctrl+C while no program is running works as intended.

[2017-06-15 20:36] mmstick commented on #286
Are you sure you have the latest commit ( 47aa80fd55ad76eac4f42b947ece021e6d26e2db )? Works fine over here.

[2017-06-15 20:39] mmstick commented on #286
If you are referring to job control, this is about handling Ctrl+C with the prompt (ie: clearing text). Signal handling is not implemented in the shell, only in liner's read_line function.

[2017-06-15 20:57] mmstick commented on #286
Pressing Ctrl+C on the prompt just exits read_line and re-executes read_line to display a new prompt.

[2017-06-15 21:14] mmstick commented on #296
This is now resolved

[2017-06-15 21:14] #296 closed

[2017-06-15 21:17] #4 closed

[2017-06-16 01:01] mmstick commented on #299
At that point, you could just use either a TOML or YAML configuration file to configure Ion settings.

[2017-06-17 02:14] mmstick commented on #289
I'm working on this.

[2017-06-17 02:19] mmstick commented on #289
I have completed this feature ( https://github.com/redox-os/ion/commit/ce0a19672e7d76c4ff431bffa2731852a893157e ). Supported keybindings are emacs and vi.

[2017-06-17 02:19] #289 closed

[2017-06-17 15:13] jwbowen commented on #289
jbowen:/home/jbowen/bld/ion# set -o vi
jbowen:/home/jbowen/bld/ion# echo "'set -o vi' is working"
'set -o vi' is working
jbowen:/home/jbowen/bld/ion# date
Sat Jun 17 10:13:04 CDT 2017
jbowen:/home/jbowen/bld/ion# hostname
flexo
jbowen:/home/jbowen/bld/ion# # Thanks, mmstick!
jbowen:/home/jbowen/bld/ion#

[2017-06-17 17:15] mmstick opened #305 "Support Multiple Assignments & Swapping Variables"
I think it'd be nice to also support multiple assignments, which therefore would open the door to swapping values in a single statement.

[code]

[2017-06-17 18:10] mmstick commented on #252
I'm working on this now.

[2017-06-17 19:14] mmstick commented on #252
Finished

[2017-06-17 19:14] #252 closed

[2017-06-17 19:15] mmstick commented on #301
Closing as we are not going to implement bash-compatible functions.

[2017-06-17 19:15] #301 closed

[2017-06-17 19:15] mmstick commented on #288
The README has been updated

[2017-06-17 19:15] #288 closed

[2017-06-17 19:16] #283 closed

[2017-06-17 20:39] huntergoldstein commented on #305
We could support packing / unpacking arrays [as done in Python{2,3}](https://anothercomputingblog.blogspot.com/2010/05/functional-unpacking-style.html).

[2017-06-17 22:21] #255 closed

[2017-06-17 22:23] #155 closed

[2017-06-17 22:34] #22 closed

[2017-06-17 22:34] #42 closed

[2017-06-17 22:34] #104 closed

[2017-06-17 22:37] mmstick commented on #282
I'll look into this soon.

[2017-06-17 23:54] mmstick commented on #282
Feature implemented ( https://github.com/redox-os/ion/commit/5d3ca8997365c1c0366cac8c69afa072b1b0cabb )

[2017-06-17 23:54] #282 closed

[2017-06-18 01:11] aeosynth opened #307 "inline tilde expansion"
`cd ~/f<Tab>` ->  `cd ~/foo/`. this expansion does not occur. using the full path works: `cd /home/james/f<Tab>` -> `/home/james/foo/`.

edit: in liner: https://github.com/MovingtoMars/liner/issues/34

[2017-06-18 01:40] mmstick commented on #305
I'm looking into this right now.

[2017-06-18 02:00] mmstick commented on #305
I have a solution almost ready. I just need to write some tests and it'll be pushed.

[2017-06-18 02:27] mmstick commented on #305
Complete ( https://github.com/redox-os/ion/commit/a6fd25147ac12685b3a650d8478724f7bff80fb1 )

[2017-06-18 02:27] #305 closed

[2017-06-18 02:27] mmstick commented on #307
If no one else wants to look into this, I'll look into this tomorrow.

[2017-06-18 03:03] mmstick commented on #282
Now here's a question:

Should we do as Fish and only allow implicit cd to work when the path starts with a dot or ends with a slash?

[2017-06-18 21:39] mmstick commented on #307
I am officially beginning my investigation into fixing this.

[2017-06-19 15:29] mmstick commented on #307
Almost have it working.

[2017-06-19 15:55] mmstick commented on #307
It's working in my local branch now. I will have the commit pushed shortly after reviewing my changes.

[2017-06-19 16:34] mmstick commented on #307
Issue resolved (https://github.com/redox-os/ion/commit/dd42c629caf7e19f28cc80dc80c9b239ecd7612c)

[2017-06-19 16:34] #307 closed

[2017-06-19 20:55] mmstick commented on #293
Are there any other issues with unicode characters, outside of issues with liner rendering?

[2017-06-19 20:56] mmstick commented on #287
Closing this issue as we will get the feature if liner gets the feature.

[2017-06-19 20:56] #287 closed

[2017-06-19 20:59] mmstick commented on #270
Closing issue since BSD's have always been supported as a UNIX platform.

[2017-06-19 20:59] #270 closed

[2017-06-19 22:02] huntergoldstein opened #308 "Use bitflags instead of home-rolled constants for flags"
# Problem
- Rules and bit fiddling can be difficult to remember for bitflags; the more someone has to think through and remember how this all works the more likely they are to make a mistake
-  It is harder to debug which flags are set when: most methods either are prone to human error or are tedious

# Solution
We could make use of the [bitflags crate](https://docs.rs/bitflags/0.9.1/bitflags/) wh

[2017-06-19 22:25] mmstick commented on #308
Would you be interested in trying this out?

[2017-06-19 22:51] huntergoldstein commented on #308
Sure!

[2017-06-19 22:52] mmstick commented on #308
Great! Currently investigating how difficult it would be to implement signal handling in Ion with `tokio-signal`.

[2017-06-19 23:14] #262 closed

[2017-06-20 01:02] aeosynth opened #311 "can't use multiline string in ionrc"
echo '
    foo'

this works when entered interactively, but gives an error when placed in `.ionrc`:

    ion: command not found: foo

[2017-06-20 01:23] mmstick commented on #311
I'll have this fixed within a few minutes.

[2017-06-20 01:28] mmstick commented on #311
Issue is now resolved.

[2017-06-20 01:28] #311 closed

[2017-06-20 05:53] aeosynth opened #313 "'unterminated method' on a string"
echo $x '()'
    ion: syntax error: unterminated method

[2017-06-20 11:38] mgmoens commented on #308
Have you actually thought about using something like the [nom](https://github.com/Geal/nom) crate? It might make certain things more readable. It would, however, change the whole structure of the project.

[2017-06-20 13:28] mmstick commented on #313
Now fixed (https://github.com/redox-os/ion/commit/048f034cf1278db3f24e7cf2f6d5d85309fe03a7).

[2017-06-20 13:28] #313 closed

[2017-06-20 14:36] #308 closed

[2017-06-20 14:38] mmstick commented on #85
Basic SIGINT handling is now implemented.

[2017-06-20 14:40] #77 closed

[2017-06-20 14:40] #78 closed

[2017-06-20 14:40] #80 closed

[2017-06-20 14:40] #81 closed

[2017-06-20 14:42] #94 closed

[2017-06-20 14:42] #114 closed

[2017-06-20 14:42] #115 closed

[2017-06-20 14:42] #210 closed

[2017-06-20 14:42] #249 closed

[2017-06-20 14:42] #250 closed

[2017-06-20 14:42] #251 closed

[2017-06-20 14:42] #261 closed

[2017-06-20 14:48] jackpot51 opened #314 "Fix Redox Build"
tokio-signal brings in a large number of dependencies, many that do not support Redox yet. Using a lighter weight signal handling crate, or not linking to tokio-signal when compiling for Redox would help.

[2017-06-20 14:50] jackpot51 commented on #314
Perhaps this would work: https://github.com/BurntSushi/chan-signal

It looks much easier to port

[2017-06-20 16:18] mmstick opened #315 "Obtain Length of Array/String"
We need to come up with a syntax for obtaining the length of an array/string. Arrays are counted by elements, and strings are counted by graphemes. Perhaps this approach can be taken?

[code]

[2017-06-20 16:32] mmstick opened #316 "Grapheme & Byte-based String Iterations"
We also need to come up with a syntax for iterating a string by graphemes, and possibly byte-based iterations too. I think we could use string methods that return arrays for this:

[code]

[2017-06-20 17:08] huntergoldstein commented on #315
That would probably be the easiest to implement; I don't see an immediate issue with this.

[2017-06-20 18:28] aeosynth opened #318 "cannot find macro `eprintln!`"
[code]

eea59ead2505d747f253918cdf54012da05b6e05

[2017-06-20 19:16] #314 closed

[2017-06-20 19:20] mmstick commented on #318
I suppose `eprintln!` isn't yet shipped with the stable rust compiler.

[2017-06-20 19:23] mmstick commented on #318
Removed the usage of `eprintln!`

[2017-06-20 19:23] #318 closed

[2017-06-20 19:48] mmstick commented on #85
SIGINT handling now aborts control flow logic when a signal is detected.

[2017-06-20 20:11] #85 closed

[2017-06-20 20:19] aeosynth opened #319 "breaks awk"
awk -v x=$x '{ if (1) print $1 }' myfile

this `awk` command should print every line in `myfile`, instead it ignores `myfile` and waits for input

[2017-06-20 20:23] mmstick commented on #319
I get a different behavior on my end:

[code]

[2017-06-20 20:25] aeosynth commented on #319
that's probably another bug, try a file without a `.`

[2017-06-20 20:31] mmstick commented on #319
Seems to be caused by the `(` character.

[2017-06-20 21:30] mmstick commented on #319
The pipeline parser had the same issue as the statement splitter that was fixed earlier. Issue is now resolved.

[2017-06-20 21:30] #319 closed

[2017-06-20 21:49] aeosynth commented on #319
thanks again!

[2017-06-20 22:10] mmstick commented on #319
As a side note, the following is an Ion equivalent to that awk command:

[code]

[2017-06-20 22:17] mmstick commented on #285
There are three things that prevent Windows support:

- [ ] Termion does not support Windows
- [ ] Piping requires the unix module to gain access to raw file descriptors on unix systems
- [ ] As far as I know, none of us have or use Windows.

[2017-06-20 22:29] jackpot51 commented on #319
Ion is damn powerful :)

[2017-06-20 22:54] mmstick commented on #315
I'll have this implemented soon.

[2017-06-20 23:08] mmstick commented on #315
Implemented ( https://github.com/redox-os/ion/commit/14d6b336ca342df7dc012f7168f6d731f301e956 )

[2017-06-20 23:08] #315 closed

[2017-06-21 02:09] aeosynth opened #320 "unescaped &"
touch 'a&'
    cat a<Tab> # cat a&
    cat: a: No such file or directory
    ion: background task completed: 1

[2017-06-21 03:33] smarts commented on #285
thanks for the reply! =) i opened this issue because i came across the issue i referenced above and it was closed because, as you mentioned, no one on the project uses Windows and therefore no one knew whether or not it worked on Windows. now it's clear that it doesn't.

[2017-06-21 03:33] #285 closed

[2017-06-21 04:52] aeosynth opened #321 "restrict ./ expansion to filenames"
`./f<Tab>` shows all commands beginning with 'f', and it shows files starting with 'f'; it should only show the files

[2017-06-21 19:14] mmstick opened #322 "String/Array Methods Discussion"
The purpose of this issue is to discuss the current and future direction and implementations of methods in Ion. The current idea is that methods should be assigned based on the type that they return, which means that if a method returns a string, then it should be a string method, whereas if the method returns an array, then it should be an array method. Methods implemented are below:

# String Va

[2017-06-21 19:15] mmstick commented on #321
i had noticed this myself, but I haven't been sure as to why liner is providing binaries in $PATH as completion options when a completion begins with `./`.

[2017-06-21 19:17] mmstick commented on #320
This is likely an issue with the pipeline splitter not checking if either DQUOTE + SQUOTE are enabled when a `&` character is read.

[2017-06-21 19:18] mmstick commented on #299
Anyone else have any opinion on what the name of the history file variable should be? Should be copy Bash here?

[2017-06-21 19:26] jackpot51 commented on #299
If you change it at all, copy bash

[2017-06-21 19:44] mmstick commented on #320
Fixed

[2017-06-21 19:44] #320 closed

[2017-06-21 19:59] mgmoens commented on #299
I agree with jackpot51

[2017-06-21 21:54] aeosynth opened #323 "more unescaping"
touch 'x$()'
    cat x<Tab> # cat x$\(\)
    ion: invalid string method: \
    cat: x: No such file or directory

perhaps there should be an exhaustive test of characters which need  escaping

[2017-06-21 21:57] mmstick commented on #323
Escaping occurs [here](https://github.com/redox-os/ion/blob/master/src/shell/completer.rs#L69), so each character that we want escaped needs to be added here. If we are to add `$`, then we probably also want to add `@`, `{`, and `}`, `<`, `>`, and `;`.

[2017-06-21 23:29] huntergoldstein commented on #257
I've been hacking away at this for a bit. It's ready to go (will open a PR soon) but it seems like the parser is kinda buggy, opening an issue with my finding.

[2017-06-21 23:35] huntergoldstein opened #324 "`calc` builtin has strange behavior when a parenthesis is the last character"
**Reproduction**: Attempt to use the command:
[code]
**Expected behavior**:
[code]

**Actual behavior**:
[code]
[code]

**Build information**:
- `rustc -V`: `rustc 1.20.0-nightly (445077963 2017-06-20)`
- `git rev-parse HEAD`: `f16d4aef1bde530e47e956cf2c28f775a15a7b39`

**Blocking / Related**: #243

[2017-06-21 23:38] huntergoldstein commented on #324
@mmstick Any interest in using https://github.com/Geal/nom to replace the parsers we have? They're getting increasingly complex and nom ought to be an efficient alternative.

[2017-06-21 23:52] mmstick commented on #324
@huntergoldstein If you'd like to try out **nom**, you may. My main reason for choosing to write the shell logic by hand was that A) parsing frameworks had limited in expressiveness at the time, B) also incurred overhead compared to manually writing them by hand, and C) was very complicated to figure out how to use them to parse all the different possible expressions correctly.

As a fun fact: mos

[2017-06-22 00:03] mmstick commented on #322
# Inline Expression Methods?

Should we support inline methods in order to execute actions in the parser without needing to store data as temporary values? What syntax would we support, if we did choose to pursue this feature?

## Possible Syntax

While we currently use `method(variable, arguments)` for applying methods to variables, we could perhaps use `method[expression, arguments]` for applyin

[2017-06-22 00:08] mmstick commented on #324
While we are also talking about Calc though, I've been wondering if we could implement expressions like so:

[code]

[2017-06-22 00:18] mmstick opened #325 "Documentation Discussion"
# Source Code Documentation

I'd like for others that attempt to read through the source code of Ion to post in here when they find a section of code that they don't understand, or where documentation is inadequate/wrong, so that we can work to get all the potentially-confusing code properly documented for future generations of Ion users and developers.

# Ion Syntax Documentation

Likewise, any u

[2017-06-22 00:20] mmstick commented on #29
This work should be very simple to implement now. We just need a means of storing job thread handles in the shell, and then implement the commands to send signals to these running jobs.

[2017-06-22 00:21] mmstick commented on #299
I think it'd be fine to switch the name to what Bash is using.

[2017-06-22 00:22] #49 closed

[2017-06-22 00:25] mmstick opened #326 "Store Configurations In the Correct XDG App Dir"
Currently, Ion just slops the init file in $HOME, but we should use the correct directory according to XDG specifications. The [app_dirs](https://crates.io/crates/app_dirs) crate is just the thing that would make this simple to implement.

[2017-06-22 00:36] huntergoldstein commented on #324
To qualify my complaints, it is mainly `parser::statements` that frustrated me while working on this. PEG doesn't seem any different from other parser generators like `yacc` or `menhir`. Nom is closer to `parsec` on that note. Also: what kind of error messages / flexibility specifically does Ion need?

[2017-06-22 00:52] mmstick commented on #324
`parser::statements`, and especially `parser::pipelines`, are a piece of work. They are monolithic parsers that are trying to do all the parsing in the same loop, and thus are quite probably heavy on CPU and mental burden to handle different scenarios. Not easy to expand at all, and requires many more bit flags than we need. We could easily switch them over to performing nano-parsing like `shell_e

[2017-06-22 01:26] huntergoldstein commented on #324
It would definitely be worthwhile to switch those over, if only for readability reasons.

That sounds roughly like what I ended up doing.

I'll play around with nom, see if the error messages are comparable to the custom ones.

[2017-06-22 02:10] mmstick opened #328 "Functions and Variable Scopes"
One area that we need to discuss is how we want to handle variable scopes, if at all.

- Should functions have access to the global scope, or should they create and manage their own scope?
- Should values created in a function be dropped when the function exits?

[2017-06-22 02:24] #257 closed

[2017-06-22 04:45] mmstick opened #329 "Syntax Discussion: $(), $[], @(), @[], $(())"
There's an issue that we will need to resolve before Ion's officially ready for the greater public, and that is solidifying our syntax. So far, the syntax has been moving along pretty well and I don't expect much to change before the big 1.1 release, but there is one glaring problem that needs to be resolved: **$(command args..)** is incompatible with **@[command args...]**, and this will cause is

[2017-06-22 04:56] mmstick opened #330 "Polish Notation"
It might be interesting to support prefix notation in the same way that [Elvish](https://elvish.io/) does.

[code]

[2017-06-22 05:01] mmstick opened #331 "Implement &| (Stdout + Stderr Piping)"
At the moment, `&|` is equivalent to `^|`, in that it only maps stderr, instead of both stdout and stderr. This will be important to resolve before the 1.1 release.

[2017-06-22 05:32] mmstick commented on #329
Leaning more towards changing @[] into @(), and $(()) into $[] myself, given that there's already a lot of precedence for using () for process expansions.

[2017-06-22 10:39] aeosynth opened #332 "true && exit Panic"
true && exit
    ion: command not found: exit

[2017-06-22 12:55] huntergoldstein commented on #329
I agree; `@(...)` seems more intuitive to me in terms of "subshell that becomes array."

[2017-06-22 13:19] huntergoldstein commented on #322
Would the difference be that inline expression methods are expanded before the pipeline is executed? To me this seems like how methods ought to function in general. I was very confused on the syntax of `@split` and `$join` initially.

[2017-06-22 14:07] mmstick commented on #322
Yes, methods always occur during the parsing stage, rather than pipeline execution. An inline expression would prevent the need to round trip outputs to variables.

[2017-06-22 14:09] mmstick commented on #329
Yeah, I will switch the syntax over soon. Better to fix it now rather than wait for it to become a problem later.

[2017-06-22 14:25] huntergoldstein commented on #332
It seems like the problem has to do with builtins being evaluated before a pipeline is constructed. You can replace `exit` with any builtin command such as `cd`.

[2017-06-22 15:07] huntergoldstein commented on #332
My mistake, it turns out there's a [list of hard coded builtins](https://github.com/redox-os/ion/blob/9b936d6493a889784d34fc4509710d8ac20d9409/src/shell/job.rs#L79). I'll fix this issue by updating the list but there ought to be a more permanent fix (read: I'll open another issue).

[2017-06-22 17:11] mmstick commented on #329
@huntergoldstein I've now changed `@[]` into `@()`. How do you feel about changing the arithmetic expression from `$(())` to `$[]`?

[2017-06-22 17:47] mmstick commented on #332
This is a matter of only getting the first job read and executed when a builtin is detected, which is easily fixed.

[2017-06-22 18:30] xTibor opened #333 "Panic on empty strings"
**Reproduction**:
Running `""` (empty string) in Ion panics instead of giving a "command not found" error. Panics both on Linux and Redox.

**Build information**:
`rustc -V`: rustc 1.19.0-nightly (04145943a 2017-06-19)
`git rev-parse HEAD`: 94e5e8e9236e2aadb4f8065ccec4f84ef1d7bce2

**Misc**:
Stacktrace: https://gist.github.com/xTibor/05328391daced5b21bafaebe37b24c71

[2017-06-22 18:49] huntergoldstein commented on #329
Perfectly fine by me.

[2017-06-22 19:23] #324 closed

[2017-06-22 19:24] #333 closed

[2017-06-22 19:53] mmstick opened #336 "Array Arithmetic Expressions"
Now that we have support for string-based arithmetic, perhaps we might want to also implement array-based arithmetic? This issue will discuss possible syntax ideas that we could pursue.

# Proposal # 1

This approach is commonly used in functional languages, so it might also be a natural fit here. Define a variable name to describe each element in the array, and then follow it with a mathematical

[2017-06-22 20:51] andychu commented on #329
FWIW for Oil at least there is a pretty obvious motivation for the opposite style: to be consistent with arrays and parenthesized expressions.

In bash you can do this:

- `if (( a > b ))`
- `for (( i = 0; i < n; i++ ))`

Oil will change it to the obvious:

- `if ( a > b )`
- `for ( i = 0; i < n; i++ )`

In Oil an array literal is:

    a = [ ls /bin /lib *.py ]  # an array of words that you can e

[2017-06-22 21:00] mmstick commented on #329
@andychu Ion doesn't need to be consistent with anything, so I think `$()` and `@()` are a better approach for us. We don't support `(( a > b ))` or `(( i = 0; i < n; i++ ))`, so I don't think that will be an issue for us. I know for certain that we won't ever support the latter expression, in the same way that Rust doesn't support such an expression.

Haven't quite decided if we will support a bo

[2017-06-22 21:41] huntergoldstein commented on #329
@mmstick, @andychu brings up a good point about the consistency of all of these sub-shell expressions. We might want to keep an open mind about this and/or somehow get user feedback about the syntax.

[2017-06-22 21:57] mgmoens commented on #324
I was thinking about nom as well. Could we decouple calc (for instance) in a crate and try out nom there? Else I was thinking about the shell expand module. I've dipped my toes into nom already, simple parsing should be doable. I might try something \w nom tomorrow,  but I'll be unavailable for more than two weeks starting tuesday. Biggest problem with nom is the lacking documentation for the 2.0+

[2017-06-22 22:05] mgmoens commented on #336
I think an intersting use case for calc would be one wherein the Ion shell could lift some calculus work from programs like maple. A dot product / vector product implementation might be useful. A symbolic integrator even more but that would be quite a piece of work.

For instance, x . x would be 14, x X x whatever the cross product is,  x *T x the square array consistibg of x (xT).

[2017-06-22 22:15] mmstick commented on #323
Resolved

[2017-06-22 22:15] #323 closed

[2017-06-22 22:15] mmstick commented on #332
@huntergoldstein Are you still looking into this? If not, I can work on it.

[2017-06-22 22:22] andychu commented on #329
Also I would consider what your subshell syntax is, i.e. `( echo hi )` in POSIX sh as opposed to `$(echo hi)`, which is a command sub.

I would highly, highly recommand against using `( echo hi )`.  Because that is the #1 feature of shell that I've seen misused in the wild.  `{ }` means grouping, but people use `()` instead because `()` "obviously" means grouping and `{}` is hard to get right beca

[2017-06-22 22:43] mmstick commented on #329
@andychu `( echo hi )` is a syntax error in Ion, and I have no plans to ever support that as a syntax feature. If Ion were to emulate this, it would potentially be very similar to what you have, but more like so: ```shell; echo hi; echo bye; end```, as we designate the `end` keyword as the end of a scope.

[2017-06-22 23:01] huntergoldstein commented on #332
I'm working on #316 right now; only briefly looked into this.

[2017-06-22 23:35] huntergoldstein commented on #324
I also would like to decouple `calc`; let's move this to an open issue.

[2017-06-22 23:42] mmstick commented on #324
It was originally my goal to see `calc` split as a library on it's own. I copied the source code from [redox-os/extrautils](https://github.com/redox-os/extrautils/blob/master/src/bin/calc.rs) and then sort of slightly repurposed it for Ion.

[2017-06-22 23:47] huntergoldstein opened #337 "Move `calc` logic to a separate crate"
# Pros
* Permits faster iteration and more experimentation
* Sufficiently decouples the current `calc` monolith from the rest of `ion`
* Allows other applications to easily make use of `calc`'s logic

# Cons
* Adds another dependency
* Version differences may cause incompatibilities (for example if some byte sequence is always special in `ion` but is used for a particular purpose in `calc`)

[2017-06-23 00:14] jackpot51 commented on #337
Also, cleans up the fact that there are two other implementations:
The original one - https://github.com/redox-os/extrautils/blob/master/src/bin/calc.rs
GUI version - https://github.com/redox-os/orbutils/blob/master/src/calculator/main.rs

[2017-06-23 00:19] mmstick commented on #337
I wouldn't really consider being a dependency as a con. I would consider it a pro though, because it's still going to be a dependency, regardless of whether or not it's maintained within Ion or externally, and by being developed as a standalone library outside of Ion, it is certain to see more exposure / testing / feature additions over time that could be beneficial to Ion.

[2017-06-23 12:24] huntergoldstein commented on #337
Could we make a repository under the `redox-os` organization for this?

[2017-06-23 13:19] jackpot51 commented on #337
Sure, who would like to commit it?

[2017-06-23 14:18] huntergoldstein commented on #322
I'm wondering if there's a benefit to making all methods "inline." As you have in your examples it makes composing methods much simpler and it would eliminate the need for separate `len_X` functions.

[2017-06-23 15:35] mmstick commented on #322
I have thought about just generalizing the existing methods to make them inline, but I'm unsure on whether or not that's a good approach. If a method requires an array, and you pass a string, should it treat the string as a single-element array? If a method requires a string, and you pass an array, should it join the array with spaces between elements?

[2017-06-23 15:46] huntergoldstein commented on #337
I would be willing; what are the steps I need to take?

[2017-06-23 16:17] mmstick opened #339 "Single-Element Arrays & Explicit Copying of Arrays"
It's currently not possible to create an array with only a single element. Any attempt to do so will merely store that array as a string. Which brings us to the question: should we solve this by having array variable lookups fall back to string variable lookups, or follow the Oil shell and make the act of copying an array explicit? If we pursue to make array copying explicit, that would entail an

[2017-06-23 16:21] #316 closed

[2017-06-23 17:31] huntergoldstein commented on #322
Both of those seem like reasonable behavior. I'm kind of worried because this would introduce implicit type-casting, in a sense, whereas current Ion will treat "type errors" as the empty string.

[2017-06-23 17:37] huntergoldstein commented on #339
:+1: for explicit array copying, though I wonder how that would interact with the behavior in #322. For example, if we had the following (imagine we had some `@reverse` method):
[code]
If `@reverse(@array)` gets evaluated inline as discussed in #322, does it become a string, then gets re-parsed as an array and reversed? Or does it remain an array while it is passed to `@reverse`?

[2017-06-23 18:00] mmstick commented on #339
@huntergoldstein The behavior there would be the same as before -- it's treated as an array of arguments when used within a command. The behavior discussed here is exclusively regarding how the `let` command handles array expressions. If the supplied expression is not wrapped within `[ expr ]` then it will be combined into a string.

[2017-06-23 18:06] mmstick commented on #322
@huntergoldstein It could be possible to specify a type kind within the method parameters, in order to make the distinction explicit between an expression, array var, or string var.

[2017-06-23 18:27] huntergoldstein commented on #322
So the arguments would be typechecked?

[2017-06-23 23:08] mmstick commented on #339
If there's no opposition to explicit copying, I think we can pursue implementing it soon.

[2017-06-24 19:19] vmchale commented on #325
I'm an ion user, but a few things that I have noticed so far (that prevent me from switching for daily use):

1. I'd really like some sort of idiomatic way to process command line flags in shell scripts.

2. Documentation of completions would be quite nice, especially for those of us who write Rust :)

3. If there's an equivalent of `crtl-r` or the like, I'd like documentation for that. If not, do

[2017-06-25 03:49] huntergoldstein commented on #321
I believe this is happening because of [not properly recognizing that `./` is the start of a file](https://github.com/redox-os/ion/blob/c7c66eea7acc4d605fe6b006d2aa365063126728/src/shell/mod.rs#L100). Investigating further.

[2017-06-25 06:37] aeosynth commented on #325
There's no documentation on enabling history or customizing the prompt.

[2017-06-25 15:30] mmstick commented on #325
@vmchale

1. Do you mean something like getopt?
2. I'll see what I can do about writing more code documentation for that section. Completions are largely handled by [liner](https://github.com/MovingtoMars/liner) though. One thing to note is that the `start` input parameter [in the completions method](https://github.com/redox-os/ion/blob/master/src/shell/completer.rs#L32) will contain the value cur

[2017-06-25 16:13] #321 closed

[2017-06-25 16:42] dead10ck opened #343 "Ctrl-C while running a program exits the shell"
**Reproduction**: Start a long-running program, e.g. `find / -name foo`, and hit Ctrl-C while it's running.

**Expected behavior**: The shell should send a signal to the running program to terminate and go back to the prompt.

**Actual behavior**: The shell exits.

**Build information**:

[code]

[2017-06-25 16:44] dead10ck opened #344 "Incomplete Signal Handling"
- [x] Implement SIGINT Handling
- [x] Implement SIGTERM Handling
- [ ] Ensure that SIGPIPE is working correctly
- [X] Implement SIGSTOP Handling
- [X] Implement SIGCONT Handling
    - [x] Implement `bg`
    - [ ] Implement `fg`
- [ ] Implement SIGHUP Handling
- [ ] disown
- [ ] suspend

[2017-06-25 16:49] mmstick commented on #343
I don't recognize that commit, and cannot find it in our history. How did you obtain Ion?

[code]

Signal handling is implemented and works fine on my end, including with exiting out of control flow logic and the prompt.

[2017-06-25 16:50] mmstick commented on #344
Works fine here:

[code]

[2017-06-25 16:58] mmstick commented on #339
Okay, I am beginning work on this now. I should have a commit out later today that implements explicit copying, and I'll update the README accordingly.

[2017-06-25 17:02] dead10ck commented on #343
I got it from the Arch User Repository, which downloaded a shallow commit of 1.0.3. I tried this out with the latest git head, and Ctrl-C actually made it crash on this build:

[code]

I was not able to reproduce again, but even on future iterations, it still exits ion:

[code]

[2017-06-25 17:03] mmstick commented on #325
Just added code documentation for the [shell::completer](https://github.com/redox-os/ion/blob/master/src/shell/completer.rs) module.

[2017-06-25 17:03] dead10ck commented on #344
You hit Ctrl-C, of course it exited. It should exit on its own. Try that out in a different shell.

[2017-06-25 17:07] dead10ck commented on #343
Interesting! I just discovered that `ion` is still running in the background, even though my terminal went back to `fish`.

[2017-06-25 17:15] mmstick commented on #343
The 1.03 release does not feature signal handling. It's been a long time since we have made a release, and a lot of features have been implemented since then, so I would recommend always testing against the latest master, because [we move very quickly](https://github.com/redox-os/ion/commits/master). Also note to not use `cargo run` with Ion because that seems to cause an issue with termion when w

[2017-06-25 17:17] dead10ck commented on #344
The "Signal madness" siection of [this article](http://linusakesson.net/programming/tty/index.php) has a pretty good list of all the signals that a shell should handle.

[2017-06-25 17:21] dead10ck commented on #343
Oh, I see! It seems to work when I run it directly, instead of via `cargo run`. My apologies, that's not something I would have expected :) feel free to close this issue, then. I look forward to the next release.

[2017-06-25 17:24] mmstick commented on #343
Be warned though that two breaking changes will occur in the next release compared to 1.0.3. `@[]` has been changed to `@()`, and to set an array with `let`, that array must be wrapped within `[]`, else it will be coerced into a string, due to moving towards explicit array copying syntax.

[2017-06-25 17:24] #343 closed

[2017-06-25 17:56] mmstick commented on #339
Found a parsing bug:

[code]

It's the only blocker for the explicit array copying at the moment ( that I know of). I will investigate the cause and have the fix issued alongside explicit array copying, soon.

[2017-06-25 18:00] mmstick commented on #336
@mgmoens Do you have any more concrete examples to demonstrate? I've never worked with dot / vector products, symbolic integrators, or programs like maple, so I wouldn't know what to achieve.

[2017-06-25 18:05] dead10ck commented on #343
Hmm, on some further thought, that seems like it could be a separate issue. Why does it not work from `cargo run`? Does that mean, for instance, that if I run ion from a bash script as a regular subprocess that I cannot expect ion to handle `SIGINT` correctly?

[2017-06-25 18:30] dead10ck commented on #343
@mmstick confirmed, this is an issue:

[code]

This will say that `kill` was successful, but the background processes are still going and have to be forcefully killed.

[2017-06-25 18:40] mmstick commented on #343
May want to open that as a separate issue

[2017-06-25 19:03] dead10ck commented on #343
I updated #344. I'll let you figure out what the underlying issue is :)

[2017-06-25 20:03] mmstick commented on #329
Explicit array syntax has now been implemented.

[2017-06-25 22:46] aeosynth commented on #325
Yes I figured out how to enable history, but I still feel the process should be documented. Off topic, why isn't history enabled by default?

[2017-06-25 23:16] aeosynth opened #345 "empty string arguments"
the empty string is not treated as a valid argument:

[code]

[2017-06-26 04:31] huntergoldstein commented on #345
Taking a look at this; it looks like the problem stems from single quotes (and double quotes) only being recognized as the end of a word token, not the start. See:
[code]
also failing.

The parser in `parser::shell_expands::words` just sets the quote flags and keeping looking for other characters to end off a `WordToken`. Simple fix for single quotes, not so easy for double quotes as it creates is

[2017-06-26 19:15] huntergoldstein commented on #345
So adding a similar rule for double quotes creates these odd `WordToken::Normal("")` artifacts, for example the above would become:
[code]
It doesn't seem to affect program behavior normally, but I'd rather try to avoid it.

[2017-06-27 01:33] vmchale commented on #195
I have a vim syntax plugin for ion [here](https://github.com/vmchale/ion-vim). Not sure if it's related, but may be of use to some of y'all.

[2017-06-27 02:07] mmstick commented on #325
@aeosynth It's just not been changed to enable it by default yet, as it was originally broken, but has long since been fixed.

[2017-06-27 02:22] #339 closed

[2017-06-27 17:53] huntergoldstein commented on #337
I have a separate crate ready to go [here](https://github.com/huntergoldstein/calc) with some touch ups, unit tests, benchmarks. Still need to set up CI (we want to use `homu` right? otherwise I'll just set up Travis) and it hasn't been published as a crate. I can transfer ownership to _someone_ in the Redox org then publish it, or just keep it under my account. I don't feel great about the later

[2017-06-27 21:13] jackpot51 commented on #337
@huntergoldstein would you maintain this? If so, I can give you admin access to a `redox-os` repository

[2017-06-27 22:09] huntergoldstein commented on #337
I'd be able to maintain it.

[2017-06-28 00:01] aeosynth opened #347 "no completion after special chars"
[code]

[2017-06-28 00:04] aeosynth opened #348 "double escaping"
touch '(x)'
    rm \(<Tab> # rm \\(x\)
    ion: syntax error: '(' at position 6 is out of place

[2017-06-28 18:15] aeosynth opened #350 "unescaped quotes"
touch "a'b"
    rm a<Tab> # rm a'b

same issue for double quotes

[2017-06-28 21:51] huntergoldstein opened #352 "Completion for executables is broken"
**Reproduction**: Attempt to autocomplete an executable

**Expected behavior**:
[code]
**Actual behavior**:
[code]
**Misc**:
I have confirmed that this bug was introduced in [this commit](https://github.com/redox-os/ion/commit/4cc422eb383653333a744b0266dc3f35ebd36c7b), of which I am the author.

[2017-06-28 22:10] huntergoldstein commented on #347
Strange: [this works for me on current `master`](https://asciinema.org/a/nPcW6SWZvb3mAWMUBVn8Cf7J8). Perhaps updating `liner` had something to do with it @MovingtoMars @mmstick ?

[2017-06-28 22:11] #352 closed

[2017-06-28 22:15] huntergoldstein commented on #348
Same as #347.

[2017-06-28 22:27] aeosynth commented on #347
same issue on 6e53a36602374a701503cecb66c00bf6398f899e. i filed the issue before the liner update commit.

[2017-06-28 22:30] huntergoldstein commented on #347
See #354; that commit has a small bug which should be fixed now (which is my fault for rushing through #353).

I meant to say that updating liner resolved the issue, hence why `master` before [`6e53a36`](https://github.com/redox-os/ion/commit/6e53a36602374a701503cecb66c00bf6398f899e) did not have that problem.

[2017-06-28 23:11] MovingtoMars commented on #347
I can reproduce on my machine. Will look into it soon.

[2017-06-29 00:19] huntergoldstein commented on #347
@MovingtoMars: #354 should resolve the latest issue.

[2017-06-29 01:46] aeosynth commented on #347
this issue is fixed, thanks @huntergoldstein

[2017-06-29 01:46] #347 closed

[2017-06-29 01:47] aeosynth commented on #348
this issue persists

[2017-06-29 02:03] huntergoldstein commented on #348
Oh my mistake: I read the input as `rm <Tab>` versus `rm \(<Tab`. Yes I can confirm this is still a problem on master (it was probably a problem before).

[2017-06-29 17:25] huntergoldstein opened #356 "Inform the user if a script is incomplete"
# Problem
The following, if placed in a script, will run without any output and setting the status to `0`:
[code]
If this were run as part of an interactive session Ion would prompt the user for more input.

# Solution
Have `Shell` somehow check the current flow control after executing a script. If the flow control indicates a partial command in memory, indicate the command and exit with a non-zer

[2017-06-29 19:20] #273 closed

[2017-06-29 19:21] huntergoldstein opened #358 "More sophisticated matching mechanisms"
From @mmstick:

[code]

[2017-06-29 20:01] mmstick commented on #358
May also want to do as the `let` command and require that array arguments are wrapped within `[]` just to ensure that there's no ambiguity between strings and arrays. the `contains` could, for example, operate differently for strings than arrays.

[2017-06-29 21:58] huntergoldstein commented on #358
That sounds like a good idea, with regards to acting like `let`.

Overall I'm not sure how I feel about adding in so much special syntax; it could just end up being clutter versus meaningfully giving a user more expressiveness.

[2017-06-30 16:49] mmstick commented on #344
Currently working on implementing SIGTERM handling.

[2017-06-30 17:36] huntergoldstein commented on #331
This looks like it works as expected (aside from a strange extra newline)
[![asciicast](https://asciinema.org/a/N0xTAlfQe2bl3OaRuiB7bgQmu.png)](https://asciinema.org/a/N0xTAlfQe2bl3OaRuiB7bgQmu)

[2017-06-30 17:42] mmstick commented on #331
I believe it's the piping (&|) that specifically doesn't work, as it just copies the behavior of piping stderr (^|)

[2017-06-30 19:46] huntergoldstein commented on #331
Confirmed: I don't think `parser::pipelines` recognizes it as it looks like it parses `foo &| bar` as "fork `foo` to the background, run `| bar`."

[2017-06-30 20:23] mmstick commented on #331
The main issue is that there's no way to specify two file descriptors for the stdin of the next command in line. You may only specify one file descriptor at a time, which means that you can only either listen to stderr, or stdout. The fix would entail somehow creating a new, internal file descriptor in memory as a buffer, and supplying that temporary file descriptor for the stdin of the next comma

[2017-06-30 20:53] huntergoldstein commented on #331
Yup I realize that now; I thought I could get away with just `dup` trickery.

[2017-07-01 00:23] mmstick commented on #344
I have SIGTERM handling working, and will be uploading the work soon.

[2017-07-01 00:34] mmstick commented on #344
You can try out the new SIGTERM handling now ( https://github.com/redox-os/ion/commit/c32cd6d7f7a1f679d43a7d7277a5b20265ca7d96 ). SIGKILL signals apparently cannot be intercepted as the kernel handles them directly. The same goes for SIGPIPE, but I'm not quite sure why the kernel isn't sending the SIGPIPE signal yet.

[2017-07-01 00:44] mmstick commented on #358
What if we make keywords like `contains` and `intersects` as builtin commands, that would work similarly to the `test` command?

[2017-07-01 01:10] mmstick commented on #358
@huntergoldstein What do you think of these ideas?

- `matchall` keyword that is a variant of `match` that executes all arms that match.
- `for match <arg> in <args...>` which is syntax sugar for a for loop that executes a match on each argument in the loop.

[2017-07-01 01:59] huntergoldstein commented on #358
`contains` and `intersects` as builtins sounds better: especially because they sound better suited to being used in `if` statements.

Both of those sound like good ideas to me: just to clarify, `for match _ in _` expands to something like:
[code]

[2017-07-01 02:51] mmstick commented on #331
I was thinking that we could perhaps use [memfd_create](https://docs.rs/nix/0.8.1/nix/sys/memfd/fn.memfd_create.html). It will create a memory region and return a file descriptor to it, which we could map the stdout and stderr to, and then the stdin of the next process could be that region.

[2017-07-01 03:16] huntergoldstein commented on #331
How about for Redox? Part of the hope of just using `dup` was that there are `dupN` syscalls for Redox.

[2017-07-01 14:48] mmstick commented on #29
SIGINT and SIGTERM are implemented, and process IDs are now stored within the shell.

[2017-07-01 16:21] jwbowen opened #359 "Is Ion expected to build with the current stable Rust/Cargo versions?"
I'm getting build failures related to `break`ing with a value (Rust RFC 1624, GitHub issue  [#37339](https://github.com/rust-lang/rust/issues/37339)).

I can post the verbose output of the failed build if so.

[2017-07-01 16:34] mmstick commented on #359
You must have a very old version of Rust. The build error should be telling you that you need at least Rust 1.18 to compile Ion.

[2017-07-01 16:35] mmstick commented on #344
Investigating implementing SIGTSTP now.

[2017-07-01 17:14] jwbowen commented on #359
I'm using Rust 1.18.0.

date:
Sat Jul  1 11:11:57 CDT 2017

uname -a:
Linux bender 4.12.0-rc7+ #1 SMP Mon Jun 26 08:46:11 CDT 2017 x86_64 x86_64 x86_64 GNU/Linux

cat /etc/os-release:
NAME=Fedora
VERSION="25 (Workstation Edition)"
ID=fedora
VERSION_ID=25
PRETTY_NAME="Fedora 25 (Workstation Edition)"
ANSI_COLOR="0;34"
CPE_NAME="cpe:/o:fedoraproject:fedora:25"
HOME_URL="https://fedoraproject.org/"
S

[2017-07-01 17:22] mmstick commented on #359
I see that the feature was stabilized in the Rust specs a while back, but it will only be enabled starting with Rust 1.19, so you'll need to use either Beta or Nightly for now.

[2017-07-01 17:40] huntergoldstein commented on #359
Could we add a `rust-toolchain` or whatever magic file is used by `rustup`? That way we can commit what version `ion` should be compiled with.

[2017-07-01 17:57] jwbowen commented on #359
I was just going to suggest adding a line at the top of the README.md to say something to the effect that Ion may use bleeding-edge features of Rust and thus may require the beta or nightly build of `rustc` to compile.

[2017-07-01 18:03] mmstick commented on #359
That's the purpose of our build.rs code. It's supposed to generate a compiler error when the minimum Rust version is not met. It's currently passing because you have 1.18 and the minimum version is specified as 1.18.

[2017-07-01 18:05] mmstick commented on #358
It's also been suggested to me that we do as Perl and have expressions convey this information, like regular expressions.

[2017-07-01 18:06] jwbowen commented on #359
Mind if I update the build.rs to specify 1.19.0 as the minimum version due to the RFC for `break`ing with a value?

[2017-07-01 18:07] mmstick commented on #359
You may do so, as that's what is needed to be done. May also want to update the error message too.

[2017-07-02 00:56] jwbowen commented on #359
PR #360 addressed this issue.

Closing.

[2017-07-02 00:56] #359 closed

[2017-07-02 02:05] mmstick commented on #344
SIGTSTP is now implemented, alongside the `jobs`, `wait`, and `bg` commands. https://github.com/redox-os/ion/commit/d9506aa6c8a7851981547736161a168ccf0ad69b

[2017-07-02 03:17] mmstick commented on #29
SIGTSTOP is implemented.

[2017-07-02 03:25] mmstick commented on #331
@huntergoldstein Do you think you could implement it with the `dup` syscalls?

[2017-07-02 03:30] mmstick opened #361 "Builtin Argument Parser (ie: getopt)"
What syntax should we support here?

[2017-07-02 05:53] mmstick commented on #344
Closing this as I'd rather not keep posting updates to duplicate issues. See issue #29

[2017-07-02 05:53] #344 closed

[2017-07-02 05:54] mmstick commented on #29
We now have `fg`, `bg`, `wait`, and `jobs`.

[2017-07-02 06:22] mmstick commented on #29
I will note, however, that, I observed some strange behavior with the difference between the reported PID by Rust, and the actual PID found in `top`. I had to apply an offset based on how a process is getting sent to the background. A command like `command args... &` would get a PID that's off by 2 of the actual PID, whereas `command args...` would have a PID that's off by 1. If anyone can figure

[2017-07-02 11:42] ankitpati commented on #358
I would love a shell that provides Perl-like regex matching, primarily because regex is so powerful and expressive, and also because no other shell provides such a feature.

With the other duties of a shell in place, regex would be the killer feature that will make me switch to Ion overnight.

[2017-07-02 13:31] huntergoldstein commented on #331
I think what `memfd_create` does can also be done with pipes, which I would assume Redox has _some_ form of. I'll have to play around with it more, I've been looking at updating `statement.rs` and `pipeline.rs`.

[2017-07-02 14:55] myfreeweb commented on #29
I'm happy that ion is finally getting job control… however it's not really there yet.

First, don't hardcode SIGTSTP as 20. It's not 20 on FreeBSD, for example. Use the constant from `libc`/`nix`.

Second, seems like the entire TSTP handling thing is wrong :( That's not how other shells do it.

Currently just suspending vim inside ion that was started from zsh returns… back to the zsh.

You should

[2017-07-02 15:53] mmstick commented on #29
@myfreeweb

Are you sure about that? Listening to SIGTSTP and then sending SIGTSTP/SIGCONT to child processes is exactly what the documentation in other shells states that they are doing. It's at least working perfectly on Linux.

That's not what's happening here on Linux. If I launch nvim from ion from bash, it returns to ion. If it's returning to zsh, it's because Ion isn't listening to SIGTSTP

[2017-07-02 16:06] myfreeweb commented on #29
Yeah, if I only fix the signal number, it returns to ion. But then fg doesn't work.

Oh wait — it does work if I just add `- 1` to the pid where it's sending SIGCONT.

I'll send a pull request that only fixes this for now.

well, they might be doing that too, but pretty much all of them use process groups and `tcsetpgrp`. I linked to xonsh already. [Here's fish](https://github.com/fish-shell/fish-

[2017-07-02 16:16] mmstick commented on #29
Do you want to investigate implementing process groups? Or shall I do that?

[2017-07-02 16:26] myfreeweb commented on #29
I've [tried](https://github.com/myfreeweb/ion/commit/ed036960c5cfbcf9b6b24319da4e749ac420f59b)… didn't fully succeed yet

[2017-07-02 16:37] huntergoldstein commented on #358
So we could have things like:
[code]
[code]
@ankitpati What kind of constructs did you have in mind?

[2017-07-02 17:48] myfreeweb commented on #29
oh also just found another reason why process groups are necessary. sudo. Like if I run `sudo pacman -Suy`, Ctrl+Z and fg, it doesn't return the terminal to pacman, it returns to sudo which is useless

[2017-07-03 16:04] ankitpati commented on #358
The kind of constructs you have mentioned look exactly like what I would expect from a shell that supports Perl-like regexes.

[2017-07-03 17:21] huntergoldstein commented on #358
I used the `/foobar/` syntax for regex literals as that's what Ruby uses, but I realize that might be a poor idea as that could also be the absolute directory `/foobar`. Any thoughts on a syntax for specifying regexes?
- We could just have it be a special function, something like `$regex(foo)` or just `$re(foo)` but that's confusing to me: we already have `$<name>` as indicating the method returns

[2017-07-03 17:27] mmstick commented on #358
Sounds like we would want a builtin that takes a regex expression and evaluates to either a SUCCESS or FAILURE exit status.

[2017-07-03 17:34] ankitpati commented on #358
@huntergoldstein Perl already [foresaw this situation](https://stackoverflow.com/a/5770625 "Regex Separators").

[code]

[code]

In the above examples, we should ideally be able to replace the pipe (`|`) after `m` with any non-whitespace character, like in Perl.

[2017-07-03 17:42] huntergoldstein commented on #358
@ankitpati That's fairly neat, though I think if we use @mmstick's suggestion of a builtin that expects a regular expression, we won't need that. To be honest I have minimal (read: I had to write a build script once) experience with Perl, so I'm not sure how readable/understandable the `m|...|` construct is in practice.

[2017-07-03 17:44] mmstick commented on #358
So maybe like this?

[code]

[2017-07-03 17:45] ankitpati commented on #358
@huntergoldstein A built-in would also do. Anything to get working Perl-like regex in a shell.

[2017-07-03 17:50] mmstick commented on #356
Should we even execute a script that's incomplete? Perhaps we should verify that scripts are complete before execution.

[2017-07-03 18:01] huntergoldstein commented on #358
Would `case matches` be a special syntax? I'm wondering if we could generalize this so you could also do something like:
[code]

[2017-07-03 18:08] mmstick commented on #358
A `case matches` case would execute the `matches` builtin with `$number` as the input, and check the return status of the builtin without needing to also execute the `test` builtin.

[2017-07-03 18:10] huntergoldstein commented on #358
I was thinking something more general, i.e. partially applying builtins (see: just implement `match` as a builtin) but it might be good to start out simple.

[2017-07-03 22:18] huntergoldstein commented on #356
We could make two runs through the script if we wanted, but I think at least printing out some sort of warning for exiting a script with a non-empty flow control is needed.

[2017-07-04 04:02] radix commented on #285
would it be useful to keep this ticket open with a list of blockers for Windows support? I would like a ticket to subscribe to so I can get notifications if the status changes.

[2017-07-04 15:07] huntergoldstein commented on #331
Taking a closer look now; I tried to rewrite `statements.rs` and `pipelines.rs` over the weekend, I'll open up an issue with my findings.

[2017-07-04 23:49] mmstick commented on #29
I'll have support for handling process groups shortly.

[2017-07-05 14:22] huntergoldstein commented on #331
It seems like the best way to do this is just with pipes versus messing around with `dup`. After trying to do this manually for a while I found [`os_pipe`](https://docs.rs/os_pipe/0.5.1/os_pipe/) which appears to work. I'm going to take a look at the source of the library to figure out why `os_pipe` worked but my approaches didn't and figure out what to do for Redox (I could submit a patch for Red

[2017-07-05 16:29] mmstick commented on #29
Gradually getting there. I believe all I have left to do now is figure out the `tcgetattr` and `tcsetattr` functions, and properly implement the `fg` command.

[2017-07-05 18:13] huntergoldstein commented on #331
I managed to get this to work without `os_pipe` (though I quite like the interface). The main fun involved the `O_CLOEXEC` flag: setting the flag prevents the child process from owning the pipes. This seemed to matter for short pipelines like `ls | wc -l`, where the output of `ls` was eaten and `wc -l` would wait forever for input on `stdin`, but not for pipelines like `yes | tr '[a-z]' '[A-Z]'` w

[2017-07-05 18:16] mmstick commented on #331
I wonder if there'd be any benefit in Redox implementing `memfd_create` as a possible solution in the future.

[2017-07-05 18:18] mmstick commented on #331
We do need to figure out how to get commands like `yes | head` to work correctly as well. The `yes` command is supposed to quit when the `head` command quits.

[2017-07-05 18:39] huntergoldstein commented on #331
That's part of #29 correct? I remember it being mentioned that `SIGPIPE` handling isn't quite working.

[2017-07-05 18:50] mmstick commented on #331
From what I understand, it's a signal that the kernel sends automatically when the fds close, so it's likely that processes aren't closing in the right order.

[2017-07-05 19:42] mmstick commented on #285
I'll create a new issue with the blockers, but I can tell you already that it's very unlikely that Windows will be supported any time soon. There's a lot of critical functionality needed by shells that Windows does not support at all, or the Windows way of implementing support is radically different from the *nix way. It would require significant time and effort in order to somehow replicate the m

[2017-07-05 20:38] radix commented on #285
Thanks for the summary @mmstick.

[2017-07-05 21:16] mmstick opened #364 "Windows Support Status"
# Problems with Supporting Windows

Take the `fork` syscall, for example. The shell needs to be able to perform forking in order to create background processes that are an exact copy of the parent process but executing a different codepath, and to assign new process group IDs to these background child processes. Windows does not support forking as a concept at all, so we'd need to replicate the fo

[2017-07-05 23:33] huntergoldstein commented on #364
Not only do we need to implement the above, but do so in a readable and maintainable way.

[2017-07-06 00:17] huntergoldstein commented on #326
#363 closes this correct?

[2017-07-06 01:12] mmstick commented on #326
Yes

[2017-07-06 01:12] #326 closed

[2017-07-06 01:17] mmstick commented on #364
I'd just ship Windows-specific routines in their own modules. A start would likely be just taking the `pipe.rs` module, making that a `pipe` directory, and then having a `unix.rs` and `windows.rs` file within. Maybe even `redox.rs` for the Redox-specific bits, although Redox largely shares a lot of unix functionality.

[2017-07-06 01:18] huntergoldstein commented on #364
I think the bits that Redox and Unix would share are the same as Unix and Windows. What's not shared is the specifics for setting a pipe, forking, and the different signal types.

[2017-07-06 05:39] mmstick opened #366 "Print Executed Commands w/ set -x"
Just a useful feature that can be used within scripts to verbosely print the name of each command that is being executed, before executing the command.